<?xml version="1.0" encoding="UTF-8" ?>
<!--
    自动转换说明：
    - 原文件: OutGoingConfigMapper.xml
    - 转换时间: 2026-01-19 11:04:29
    - MySQL → PostgreSQL 16.x
    
    注意事项：
    1. ON CONFLICT子句可能需要手动指定冲突列
    2. LIKE已保留，如需不区分大小写请改为ILIKE
    3. 建议人工review后再部署到生产环境
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/dtd">
<mapper namespace="com.dbapp.extension.xdr.outgoingData.mapper.OutGoingConfigMapper">

    <resultMap id="baseResultMap" type="com.dbapp.extension.xdr.outgoingData.po.OutGoingConfig">
        <result jdbcType="INTEGER" property="id" column="id"/>
        <result jdbcType="VARCHAR" property="serverName" column="server_name"/>
        <result jdbcType="VARCHAR" property="serverAddress" column="server_address"/>
        <result jdbcType="JAVA_OBJECT" property="authTick" column="auth_tick" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result jdbcType="VARCHAR" property="protocol" column="protocol"/>
        <result jdbcType="VARCHAR" property="port" column="port"/>
        <result jdbcType="BOOLEAN" property="enable" column="enable"/>
        <result jdbcType="VARCHAR" property="type" column="type"/>
        <result jdbcType="INTEGER" property="alarmConfigId" column="alarm_config_id"/>
        <result jdbcType="INTEGER" property="eventConfigId" column="event_config_id"/>
        <result jdbcType="INTEGER" property="riskConfigId" column="risk_config_id"/>
        <result jdbcType="VARCHAR" property="createTime" column="create_time"/>
        <result jdbcType="VARCHAR" property="updateTime" column="update_time"/>
        <result jdbcType="VARCHAR" property="kafkaTopic" column="kafka_topic"/>
        <result jdbcType="VARCHAR" property="encryptionType" column="encryption_type"/>
        <result jdbcType="VARCHAR" property="caCertPath" column="ca_cert_path"/>
        <result jdbcType="TINYINT" property="isSystemCa" column="is_system_ca"/>
        <result jdbcType="VARCHAR" property="compressMode" column="compress_mode"/>
        <result jdbcType="VARCHAR" property="principal" column="principal"/>
        <result jdbcType="VARCHAR" property="keyTabPath" column="key_tab_path"/>
        <result jdbcType="VARCHAR" property="kdcServerName" column="kdc_server_name"/>
        <result jdbcType="VARCHAR" property="kafkaServerName" column="kafka_server_name"/>
        <result jdbcType="BOOLEAN" property="isDel" column="is_del"/>
        <association property="alarmOutGoingConfig" javaType="com.dbapp.extension.xdr.outgoingData.po.AlarmOutGoingConfig">
            <result jdbcType="INTEGER" property="id" column="alarm_id"/>
            <result jdbcType="ARRAY" property="alarmSource" column="alarm_source" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="subCategory" column="alarm_sub_category" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="threatSeverity" column="alarm_threat_severity" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="alarmResults" column="alarm_alarm_results" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="BOOLEAN" property="enable" column="alarm_enable"/>
            <result jdbcType="VARCHAR" property="mappingConfigPath" column="alarm_mapping_config_path"/>
            <result jdbcType="VARCHAR" property="lastSendTime" column="alarm_last_send_time"/>
            <result jdbcType="VARCHAR" property="lastSendResult" column="alarm_last_send_result"/>
            <result jdbcType="VARCHAR" property="causeOfFailure" column="alarm_cause_of_failure"/>
            <result jdbcType="VARCHAR" property="createTime" column="alarm_create_time"/>
            <result jdbcType="VARCHAR" property="updateTime" column="alarm_update_time"/>
            <result jdbcType="BOOLEAN" property="isDel" column="alarm_is_del"/>
            <result jdbcType="INTEGER" property="sendCount" column="alarm_send_count"/>
            <result jdbcType="INTEGER" property="succeedCount" column="alarm_succeed_count"/>
        </association>
        <association property="eventOutGoingConfig" javaType="com.dbapp.extension.xdr.outgoingData.po.EventOutGoingConfig">
            <result jdbcType="INTEGER" property="id" column="event_id"/>
            <result jdbcType="ARRAY" property="subCategory" column="event_sub_category" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="threatSeverity" column="event_threat_severity" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="alarmResults" column="event_alarm_results" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="BOOLEAN" property="enable" column="event_enable"/>
            <result jdbcType="VARCHAR" property="mappingConfigPath" column="event_mapping_config_path"/>
            <result jdbcType="VARCHAR" property="lastSendTime" column="event_last_send_time"/>
            <result jdbcType="VARCHAR" property="lastSendResult" column="event_last_send_result"/>
            <result jdbcType="VARCHAR" property="causeOfFailure" column="event_cause_of_failure"/>
            <result jdbcType="VARCHAR" property="createTime" column="event_create_time"/>
            <result jdbcType="VARCHAR" property="updateTime" column="event_update_time"/>
            <result jdbcType="BOOLEAN" property="isDel" column="event_is_del"/>
            <result jdbcType="INTEGER" property="sendCount" column="event_send_count"/>
            <result jdbcType="INTEGER" property="succeedCount" column="event_succeed_count"/>
        </association>
        <association property="riskOutGoingConfig" javaType="com.dbapp.extension.xdr.outgoingData.po.RiskOutGoingConfig">
            <result jdbcType="INTEGER" property="id" column="risk_id"/>
            <result jdbcType="ARRAY" property="subCategory" column="risk_sub_category" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="threatSeverity" column="risk_threat_severity" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="ARRAY" property="alarmResults" column="risk_alarm_results" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result jdbcType="BOOLEAN" property="enable" column="risk_enable"/>
            <result jdbcType="VARCHAR" property="mappingConfigPath" column="risk_mapping_config_path"/>
            <result jdbcType="VARCHAR" property="lastSendTime" column="risk_last_send_time"/>
            <result jdbcType="VARCHAR" property="lastSendResult" column="risk_last_send_result"/>
            <result jdbcType="VARCHAR" property="causeOfFailure" column="risk_cause_of_failure"/>
            <result jdbcType="VARCHAR" property="createTime" column="risk_create_time"/>
            <result jdbcType="VARCHAR" property="updateTime" column="risk_update_time"/>
            <result jdbcType="BOOLEAN" property="isDel" column="risk_is_del"/>
            <result jdbcType="INTEGER" property="sendCount" column="risk_send_count"/>
            <result jdbcType="INTEGER" property="succeedCount" column="risk_succeed_count"/>
        </association>
    </resultMap>


    <sql id="selectField">
        tc.id,
        tc.server_name,
        tc.server_address,
        tc.auth_tick,
        tc.protocol,
        tc.port ,
        tc.enable,
        tc.type,
        tc.alarm_config_id,
        tc.event_config_id,
        tc.risk_config_id,
        tc.is_del,
        tc.create_time,
        tc.update_time,
        tc.kafka_topic,
        tc.encryption_type,
        tc.ca_cert_path,
        tc.is_system_ca,
        tc.compress_mode,
        tc.key_tab_path,
        tc.principal,
        tc.kdc_server_name,
        tc.kafka_server_name,
        ta.id AS alarm_id,
        ta.alarm_source,
        ta.sub_category AS alarm_sub_category,
        ta.threat_severity AS alarm_threat_severity,
        ta.alarm_results AS alarm_alarm_results,
        ta.enable AS alarm_enable,
        ta.mapping_config_path AS alarm_mapping_config_path,
        ta.last_send_time AS alarm_last_send_time,
        ta.last_send_result AS alarm_last_send_result,
        ta.cause_of_failure AS alarm_cause_of_failure,
        ta.create_time as alarm_create_time,
        ta.update_time as alarm_update_time,
        ta.is_del as alarm_is_del,
        ta.send_count as alarm_send_count,
        ta.succeed_count as alarm_succeed_count,
        te.id AS event_id,
        te.sub_category AS event_sub_category,
        te.threat_severity AS event_threat_severity,
        te.alarm_results AS event_alarm_results,
        te.enable AS event_enable,
        te.mapping_config_path AS event_mapping_config_path,
        te.last_send_time AS event_last_send_time,
        te.last_send_result AS event_last_send_result,
        te.cause_of_failure AS event_cause_of_failure,
        te.create_time as event_create_time,
        te.update_time as event_update_time,
        te.send_count as event_send_count,
        te.succeed_count as event_succeed_count,
        te.is_del as event_is_del,
        tr.id AS risk_id,
        tr.sub_category AS risk_sub_category,
        tr.threat_severity AS risk_threat_severity,
        tr.alarm_results AS risk_alarm_results,
        tr.enable AS risk_enable,
        tr.mapping_config_path AS risk_mapping_config_path,
        tr.last_send_time AS risk_last_send_time,
        tr.last_send_result AS risk_last_send_result,
        tr.cause_of_failure AS risk_cause_of_failure,
        tr.create_time as risk_create_time,
        tr.update_time as risk_update_time,
        tr.send_count as risk_send_count,
        tr.succeed_count as risk_succeed_count,
        tr.is_del as risk_is_del
    </sql>

    <sql id="selectFrom">
        t_out_going_config tc
            LEFT JOIN t_alarm_out_going_config ta ON tc.alarm_config_id = ta.id And ta.is_del = 0
            LEFT JOIN t_event_out_going_config te ON tc.event_config_id = te.id And te.is_del = 0
            LEFT JOIN t_risk_out_going_config tr ON tc.risk_config_id = tr.id And tr.is_del = 0
    </sql>

    <select id="selectOutGoingConfig" resultMap="baseResultMap">
    SELECT
        <include refid="selectField">
        </include>
    FROM
        <include refid="selectFrom">
        </include>
    WHERE
        tc.is_del = 0
        <if test="type != null and type != ''">
            AND tc.type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="enable != null">
            AND tc.enable = #{enable,jdbcType=BOOLEAN}
        </if>
    </select>

    <select id="selectConfigById" resultMap="baseResultMap">
        SELECT
        <include refid="selectField">
        </include>
        FROM
        <include refid="selectFrom">
        </include>
        WHERE
        tc.is_del = 0
        AND tc.id = #{id,jdbcType=INTEGER}
    </select>



    <select id="selectOutGoingConfigCount" resultType="long">
        select count(id)
        FROM
        t_out_going_config tc
        WHERE
        tc.is_del = 0
        <if test="type != null and type != ''">
            AND tc.type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="enable != null">
            AND tc.enable = #{enable,jdbcType=BOOLEAN}
        </if>
    </select>



    <select id="selectOutGoingConfigByPage" resultMap="baseResultMap">
        SELECT
        <include refid="selectField">
        </include>
        FROM
        <include refid="selectFrom">
        </include>
        WHERE
        tc.is_del = 0
        <if test="type != null and type != ''">
            AND tc.type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="enable != null">
            AND tc.enable = #{enable,jdbcType=BOOLEAN}
        </if>
        LIMIT #{size,jdbcType=INTEGER} OFFSET #{offset,jdbcType=INTEGER}
    </select>


    <update id="updateSwitchById" >
        UPDATE t_out_going_config SET enable = #{enable,jdbcType=BOOLEAN} WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectKbrCount" resultType="int">
        SELECT COUNT(1) FROM t_out_going_config WHERE is_del = 0 AND enable = 1 AND type = 'KAFKA' AND encryption_type = 'kerberos'
        <if test="id != null">
            AND id != #{id,jdbcType=INTEGER}
        </if>
        <if test="kdcServerName != null and kdcServerName != ''">
            AND kdc_server_name = #{kdcServerName,jdbcType=VARCHAR}
        </if>
        <if test="serverAddress != null and serverAddress != ''">
            AND server_address != #{serverAddress,jdbcType=VARCHAR}
        </if>
    </select>

    <update id="closeConfig" parameterType="com.dbapp.extension.xdr.dataSending.entity.DataSendingContext">
        UPDATE t_out_going_config SET enable = 0
        WHERE
        server_address = #{context.host,jdbcType=VARCHAR}
        AND
        encryption_type = #{context.encryptionType,jdbcType=VARCHAR}
        <if test="context.kdcServerName != null and context.kdcServerName != ''">
            AND
            kdc_server_name = #{context.kdcServerName,jdbcType=VARCHAR}
        </if>
        <if test="context.principal != null and context.principal != ''">
            AND
            principal = #{context.principal,jdbcType=VARCHAR}
        </if>
        <if test="context.kafkaServerName != null and context.kafkaServerName != ''">
            AND
            kafka_server_name = #{context.kafkaServerName,jdbcType=VARCHAR}
        </if>
    </update>
</mapper>
