<?xml version="1.0" encoding="UTF-8" ?>
<!--
    自动转换说明：
    - 原文件: RiskIncidentOutGoingHistoryMapper.xml
    - 转换时间: 2026-01-19 11:04:29
    - MySQL → PostgreSQL 16.x
    
    注意事项：
    1. ON CONFLICT子句可能需要手动指定冲突列
    2. LIKE已保留，如需不区分大小写请改为ILIKE
    3. 建议人工review后再部署到生产环境
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/dtd">
<mapper namespace="com.dbapp.extension.xdr.threatMonitor.mapper.RiskIncidentOutGoingHistoryMapper">

    <sql id="timeByParam">
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and t.end_time BETWEEN CAST(#{startTime} AS timestamp) AND CAST(#{endTime} AS timestamp)
        </if>
    </sql>

    <sql id="queryParamCondition">
        <if test="threatSeverity != null and threatSeverity.size() != 0">
            and t.threat_severity IN
            <foreach collection="threatSeverity" separator=" ," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="alarmResults != null and alarmResults.size() != 0">
            and t.alarm_results IN
            <foreach collection="alarmResults" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="topEventType != null and topEventType != ''">
            and t.category = #{topEventType}
        </if>
        <if test="excludeEventIds != null and excludeEventIds.size() != 0">
            and t.id not IN
            <foreach collection="excludeEventIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </sql>

    <select id="mappingFromClueSecurityEvent" resultType="com.dbapp.extension.xdr.threatMonitor.entity.RiskIncidentOutGoing">
        select
        t.id as securityIncidentId,
        t.start_time as startTime,
        t.end_time as endTime,
        tet.incident_sub_class_type as ruleType,
        t.focus_ip as focusIp,
        t.attacker as attacker,
        t.victim as victim,
        t.threat_severity as severity,
        t.alarm_results as catOutCome
        from t_security_incidents t,t_event_template tet
        where tet.incident_type = 1
        and t.template_id = tet.id
        <if test="eventIds != null and eventIds.size() != 0">
            and t.id IN
            <foreach collection="eventIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="mappingNormalSecurityEvent" resultType="com.dbapp.extension.xdr.threatMonitor.entity.RiskIncidentOutGoing">
        select
        t.start_time as startTime ,
        t.end_time as endTime,
        tet.incident_class_type as topEventTypeChinese,
        tet.incident_sub_class_type as secondEventTypeChinese,
        t.focus_ip as focusIp,
        tet.incident_cond as focusObject,
        t.counts as counts,
        t.id as eventIds,
        t.threat_severity as threatSeverity,
        t.alarm_results as alarmResults,
        t.alarm_status as alarmStatus
        from t_security_incidents t,t_event_template tet
        where tet.incident_type = 0
        and t.template_id = tet.id
        <include refid="timeByParam"/>
        <include refid="queryParamCondition"/>
    </select>

    <insert id="backUpLastTermData">
        INSERT INTO t_risk_incidents_out_going_history
        (event_id, uniq_code, event_code, security_incident_id, name, template_id, start_time, end_time, src_geo_region,
         security_zone,device_address,device_send_product_name, send_host_address, machine_code, rule_type, focus_ip,
         attacker, victim, severity, cat_outcome, payload, more_field, time_part)
        select id, uniq_code, event_code, security_incident_id, name, template_id, start_time, end_time, src_geo_region,
               security_zone,device_address,device_send_product_name, send_host_address, machine_code, rule_type, focus_ip,
               attacker, victim, severity, cat_outcome, payload, more_field, time_part
        from t_risk_incidents_out_going
        where DATE(time_part) = CAST(#{currentDate} AS timestamp)
    </insert>

    <update id="batchInsertOrUpdateIncident" parameterType="java.util.List">
        <foreach collection="riskIncidentList" item="item" index="index" separator=";" >
            insert into t_risk_incidents_out_going
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.uniqCode != null and item.uniqCode != ''">
                    uniq_code,
                </if>
                <if test="item.eventCode != null and item.eventCode != ''">
                    event_code,
                </if>
                <if test="item.securityIncidentId != null ">
                    security_incident_id,
                </if>
                <if test="item.name != null and item.name != ''">
                    name,
                </if>
                <if test="item.templateId != null and item.templateId != ''">
                    template_id,
                </if>
                <if test="item.startTime != null and item.startTime != ''">
                    start_time,
                </if>
                <if test="item.endTime != null and item.endTime != ''">
                    end_time,
                </if>
                <if test="item.srcGeoRegin != null and item.srcGeoRegin != ''">
                    src_geo_regin,
                </if>
                <if test="item.securityZone != null and item.securityZone != ''">
                    security_zone,
                </if>
                <if test="item.deviceAddress != null and item.deviceAddress != ''">
                    device_address,
                </if>
                <if test="item.deviceSendProductName != null and item.deviceSendProductName != ''">
                    device_send_product_name,
                </if>
                <if test="item.sendHostAddress != null and item.sendHostAddress != ''">
                    send_host_address,
                </if>
                <if test="item.machineCode != null and item.machineCode != ''">
                    machine_code,
                </if>
                <if test="item.ruleType != null and item.ruleType != ''">
                    rule_type,
                </if>
                <if test="item.focusIp != null and item.focusIp != ''">
                    focus_ip,
                </if>
                <if test="item.attacker != null and item.attacker != ''">
                    attacker,
                </if>
                <if test="item.victim != null and item.victim != ''">
                    victim,
                </if>
                <if test="item.severity != null and item.severity != ''">
                    severity,
                </if>
                <if test="item.catOutcome != null and item.catOutcome != ''">
                    cat_outcome,
                </if>
                <if test="item.payload != null and item.payload != ''">
                    payload,
                </if>
                <if test="item.moreField != null and item.moreField != ''">
                    more_field,
                </if>
                <if test="item.timePart != null and item.timePart != ''">
                    time_part
                </if>
            </trim>
            values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.uniqCode != null and item.uniqCode != ''">
                    #{item.uniqCode},
                </if>
                <if test="item.eventCode != null and item.eventCode != ''">
                    #{item.eventCode},
                </if>
                <if test="item.securityIncidentId != null">
                    #{item.securityIncidentId},
                </if>
                <if test="item.name != null and item.name != ''">
                    #{item.name},
                </if>
                <if test="item.templateId != null">
                    #{item.templateId},
                </if>
                <if test="item.startTime != null and item.startTime != ''">
                    CAST(#{item.startTime} AS timestamp),
                </if>
                <if test="item.endTime != null and item.endTime != ''">
                    CAST(#{item.endTime} AS timestamp),
                </if>
                <if test="item.srcGeoRegin != null and item.srcGeoRegin != ''">
                    #{item.srcGeoRegin},
                </if>
                <if test="item.securityZone != null and item.securityZone != ''">
                    #{item.securityZone},
                </if>
                <if test="item.deviceAddress != null and item.deviceAddress != ''">
                    #{item.deviceAddress},
                </if>
                <if test="item.deviceSendProductName != null and item.deviceSendProductName != ''">
                    #{item.deviceSendProductName},
                </if>
                <if test="item.sendHostAddress != null and item.sendHostAddress != ''">
                    #{item.sendHostAddress},
                </if>
                <if test="item.machineCode != null and item.machineCode != ''">
                    #{item.machineCode},
                </if>
                <if test="item.ruleType != null and item.ruleType != ''">
                    #{item.ruleType},
                </if>
                <if test="item.focusIp != null and item.focusIp != ''">
                    #{item.focusIp},
                </if>
                <if test="item.attacker != null and item.attacker != ''">
                    #{item.attacker},
                </if>
                <if test="item.victim != null and item.victim != ''">
                    #{item.victim},
                </if>
                <if test="item.severity != null and item.severity != ''">
                    #{item.severity},
                </if>
                <if test="item.catOutcome != null and item.catOutcome != ''">
                    #{item.catOutcome},
                </if>
                <if test="item.payload != null and item.payload != ''">
                    #{item.payload},
                </if>
                <if test="item.moreField != null and item.moreField != ''">
                    #{item.moreField},
                </if>
                <if test="item.timePart != null and item.timePart != ''">
                    #{item.timePart}
                </if>
            </trim>
            ON CONFLICT DO UPDATE SET <trim prefix="" suffix="" suffixOverrides=",">
                <if test="item.securityIncidentId != null">
                    security_incident_id = #{item.securityIncidentId},
                </if>
                <if test="item.name != null and item.name != ''">
                    name = #{item.name},
                </if>
                <if test="item.templateId != null">
                    template_id = #{item.templateId},
                </if>
                <if test="item.startTime != null and item.startTime != ''">
                    start_time = CAST(#{item.startTime} AS timestamp),
                </if>
                <if test="item.endTime != null and item.endTime != ''">
                    end_time = CAST(#{item.endTime} AS timestamp),
                </if>
                <if test="item.srcGeoRegin != null and item.srcGeoRegin != ''">
                    src_geo_regin = #{item.srcGeoRegin},
                </if>
                <if test="item.securityZone != null and item.securityZone != ''">
                    security_zone = #{item.securityZone},
                </if>
                <if test="item.deviceAddress != null and item.deviceAddress != ''">
                    device_address = #{item.deviceAddress},
                </if>
                <if test="item.deviceSendProductName != null and item.deviceSendProductName != ''">
                    device_send_product_name = #{item.deviceSendProductName},
                </if>
                <if test="item.sendHostAddress != null and item.sendHostAddress != ''">
                    send_host_address = #{item.sendHostAddress},
                </if>
                <if test="item.machineCode != null and item.machineCode != ''">
                    machine_code = #{item.machineCode},
                </if>
                <if test="item.ruleType != null and item.ruleType != ''">
                    rule_type = #{item.ruleType},
                </if>
                <if test="item.focusIp != null and item.focusIp != ''">
                    focus_ip = #{item.focusIp},
                </if>
                <if test="item.attacker != null and item.attacker != ''">
                    attacker = #{item.attacker},
                </if>
                <if test="item.victim != null and item.victim != ''">
                    victim = #{item.victim},
                </if>
                <if test="item.severity != null and item.severity != ''">
                    severity = #{item.severity},
                </if>
                <if test="item.catOutcome != null and item.catOutcome != ''">
                    cat_outcome = #{item.catOutcome},
                </if>
                <if test="item.payload != null and item.payload != ''">
                    payload = #{item.payload},
                </if>
                <if test="item.moreField != null and item.moreField != ''">
                    more_field = #{item.moreField},
                </if>
                <if test="item.timePart != null and item.timePart != ''">
                    time_part = #{item.timePart},
                </if>
            </trim>
        </foreach>
    </update>

    <delete id="deleteOldIncident">
        delete from t_risk_incidents_out_going
        where DATE(time_part) = CAST(#{currentDate} AS timestamp)
        <if test="excludeUniqCodes != null and excludeUniqCodes.size() != 0">
            and uniq_code not IN
            <foreach collection="excludeUniqCodes" separator=" ," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </delete>

    <select id="queryListByTime" resultType="com.dbapp.extension.xdr.threatMonitor.entity.RiskIncidentOutGoing">
        select t.id, t.uniq_code, t.start_time, t.end_time, t.payload, t.focus_ip, tt.data_source, tt.filter_content, tt.focus_object
        from t_risk_incidents_out_going t
        left join t_risk_incidents tt
        on t.event_code = tt.event_code
        and tt.data_source = 'alert'
        <where>
            <include refid="timeByParam"/>
        </where>
        LIMIT ${size} OFFSET ${offset}
    </select>

    <update id="batchUpdatePayload" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update t_risk_incidents_out_going
            set payload = #{item.payload}
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="clearHistoryData">
        delete from t_risk_incidents_history
        where create_time &lt;= #{timestamp};
        delete from t_risk_incidents_out_going_history
        where time_part &lt;= #{timestamp};
    </delete>

    <select id="queryOutGoingList" resultType="java.util.Map">
        SELECT
            t.*
        FROM
            t_risk_incidents_out_going t,
            t_risk_incidents_out_going_history tt
        where
            (t.uniq_code = tt.uniq_code
                and t.end_time != tt.end_time
	    and t.time_part BETWEEN CAST(#{startTime} AS timestamp) and CAST(#{endTime} AS timestamp))
           or t.uniq_code not in (
            select
                uniq_code
            from
                t_risk_incidents_out_going_history
            where
                time_part BETWEEN CAST(#{startTime} AS timestamp) and CAST(#{endTime} AS timestamp))
            LIMIT #{size,jdbcType=BIGINT} OFFSET #{offset,jdbcType=BIGINT}
    </select>

</mapper>