<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.linkageHandle.mapper.BlockHistoryMapper">

    <select id="sumLaunchTimesByStrategyId" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BaseHistoryVO">
        SELECT strategy_id, SUM(launch_times) AS "count"
        FROM t_block_history
        WHERE strategy_id IN
        <foreach collection='strategyIds' item='strategyId' open='(' close=')' index='index' separator=','>
            #{strategyId}
        </foreach>
        GROUP BY strategy_id;
    </select>

    <insert id="insertBlockHistory">
        INSERT INTO t_block_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blockHistoryVO.linkDeviceIp != null and blockHistoryVO.linkDeviceIp != ''">
                link_device_ip,
            </if>
            <if test="blockHistoryVO.linkDeviceType != null and blockHistoryVO.linkDeviceType != ''">
                link_device_type,
            </if>
            <if test="blockHistoryVO.deviceId != null and blockHistoryVO.deviceId != ''">
                device_id,
            </if>
            <if test="blockHistoryVO.srcAddress != null and blockHistoryVO.srcAddress != ''">
                src_address,
            </if>
            <if test="blockHistoryVO.destAddress != null and blockHistoryVO.destAddress != ''">
                dest_address,
            </if>
            <if test="blockHistoryVO.content != null and blockHistoryVO.content != ''">
                content,
            </if>
            create_time,
            update_time,
            <if test="blockHistoryVO.strategyId != null and blockHistoryVO.strategyId != ''">
                strategy_id,
            </if>
            <if test="blockHistoryVO.ntaName != null and blockHistoryVO.ntaName != ''">
                nta_name,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blockHistoryVO.linkDeviceIp != null and blockHistoryVO.linkDeviceIp != ''">
                #{blockHistoryVO.linkDeviceIp},
            </if>
            <if test="blockHistoryVO.linkDeviceType != null and blockHistoryVO.linkDeviceType != ''">
                #{blockHistoryVO.linkDeviceType},
            </if>
            <if test="blockHistoryVO.deviceId != null and blockHistoryVO.deviceId != ''">
                #{blockHistoryVO.deviceId},
            </if>
            <if test="blockHistoryVO.srcAddress != null and blockHistoryVO.srcAddress != ''">
                #{blockHistoryVO.srcAddress},
            </if>
            <if test="blockHistoryVO.destAddress != null and blockHistoryVO.destAddress != ''">
                #{blockHistoryVO.destAddress},
            </if>
            <if test="blockHistoryVO.content != null and blockHistoryVO.content != ''">
                #{blockHistoryVO.content},
            </if>
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            <if test="blockHistoryVO.strategyId != null and blockHistoryVO.strategyId != ''">
                #{blockHistoryVO.strategyId},
            </if>
            <if test="blockHistoryVO.ntaName != null and blockHistoryVO.ntaName != ''">
                #{blockHistoryVO.ntaName},
            </if>
        </trim>
        ON CONFLICT (id) DO UPDATE SET
        <trim prefix="" suffix="" suffixOverrides=",">
            update_time = CURRENT_TIMESTAMP,
            launch_times = launch_times+1,
            <if test="blockHistoryVO.linkDeviceIp != null and blockHistoryVO.linkDeviceIp != ''">
                link_device_ip = #{blockHistoryVO.linkDeviceIp},
            </if>
            <if test="blockHistoryVO.linkDeviceType != null and blockHistoryVO.linkDeviceType != ''">
                link_device_type = #{blockHistoryVO.linkDeviceType},
            </if>
            <if test="blockHistoryVO.deviceId != null and blockHistoryVO.deviceId != ''">
                device_id = #{blockHistoryVO.deviceId},
            </if>
            <if test="blockHistoryVO.srcAddress != null and blockHistoryVO.srcAddress != ''">
                src_address = #{blockHistoryVO.srcAddress},
            </if>
            <if test="blockHistoryVO.destAddress != null and blockHistoryVO.destAddress != ''">
                dest_address = #{blockHistoryVO.destAddress},
            </if>
            <if test="blockHistoryVO.content != null and blockHistoryVO.content != ''">
                content = #{blockHistoryVO.content},
            </if>
            <if test="blockHistoryVO.strategyId != null and blockHistoryVO.strategyId != ''">
                strategy_id = #{blockHistoryVO.strategyId},
            </if>
            <if test="blockHistoryVO.ntaName != null and blockHistoryVO.ntaName != ''">
                nta_name = #{blockHistoryVO.ntaName},
            </if>
        </trim>
    </insert>
    <!-- 注意: ON CONFLICT假设(id)是主键，请根据实际表结构调整。如果使用业务字段唯一键，需要修改冲突列 -->

    <select id="getBlockListCount" resultType="java.lang.Long">
        SELECT
            count(tbh.id)
        FROM
        t_linked_strategy tls RIGHT JOIN t_block_history tbh
        ON tls.id = tbh.strategy_id
        <where>
            <if test="param.strategyName != null and param.strategyName != ''">
                AND tls.strategy_name ILIKE '%' || #{param.strategyName} || '%'
            </if>
            <if test="param.linkDeviceIp != null and param.linkDeviceIp != ''">
                AND tbh.link_device_ip ILIKE '%' || #{param.linkDeviceIp} || '%'
            </if>
            <if test="param.srcAddress != null and param.srcAddress != ''">
                AND tbh.src_address ILIKE '%' || #{param.srcAddress} || '%'
            </if>
            <if test="param.destAddress != null and param.destAddress != '' ">
                AND tbh.dest_address ILIKE '%' || #{param.destAddress} || '%'
            </if>
            <if test="param.strategyId != null ">
                AND tbh.strategy_id=#{param.strategyId}
            </if>
        </where>
    </select>
    <select id="getBlockHistory" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockHistoryVO">
        SELECT
            tbh.id,
            tbh.create_time createTime,
            COALESCE(tls.strategy_name,'已删除策略') strategyName,
            tbh.link_device_ip linkDeviceIp,
            tbh.link_device_type linkDeviceType,
            tbh.src_address srcAddress,
            tbh.dest_address destAddress,
            tbh.content,
            tbh.create_type,
            tbh.launch_times "count"
        FROM
            t_linked_strategy tls RIGHT JOIN t_block_history tbh
            ON tls.id = tbh.strategy_id
        <where>
            <if test="param.strategyId != null">
                AND tbh.strategy_id = #{param.strategyId}
            </if>
            <if test="param.strategyName != null and param.strategyName != ''">
                AND tls.strategy_name ILIKE '%' || #{param.strategyName} || '%'
            </if>
            <if test="param.linkDeviceIp != null and param.linkDeviceIp != ''">
                AND tbh.link_device_ip ILIKE '%' || #{param.linkDeviceIp} || '%'
            </if>
            <if test="param.srcAddress != null and param.srcAddress != ''">
                AND tbh.src_address ILIKE '%' || #{param.srcAddress} || '%'
            </if>
            <if test="param.destAddress != null and param.destAddress != '' ">
                AND tbh.dest_address ILIKE '%' || #{param.destAddress} || '%'
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderByStr == null or orderByStr == ''">
                tbh.create_time DESC
            </when>
            <otherwise>
                ${orderByStr}
            </otherwise>
        </choose>
        <if test="param.limit != null and param.offset !=null and param.limit != 0 and param.offset >= 0">
            LIMIT #{param.limit} OFFSET #{param.offset}
        </if>
    </select>
    <select id="getHistoryByIp" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockHistoryVO">
        SELECT
        id,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        device_id deviceId,
        src_address srcAddress,
        dest_address destAddress,
        content,
        strategy_id strategyId
        FROM
            t_block_history
        <where>
            <if test="linkDeviceIp != null and linkDeviceIp != '' ">
                AND link_device_ip = #{linkDeviceIp}
            </if>
            <if test="srcAddress != null and srcAddress != '' ">
                AND src_address = #{srcAddress}
            </if>
            <if test="destAddress != null and destAddress != '' ">
                AND dest_address = #{destAddress}
            </if>
        </where>
    </select>
    <select id="getBlockHistoryByCondition"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockHistoryVO">
            SELECT
            id,
            link_device_ip linkDeviceIp,
            link_device_type linkDeviceType,
            device_id deviceId,
            src_address srcAddress,
            dest_address destAddress,
            content,
            strategy_id strategyId,
            nta_name ntaName
            FROM
                t_block_history
            <where>
                <if test="strategyId != null">
                    AND strategy_id = #{strategyId}
                </if>
                <if test="linkDeviceIp != null and linkDeviceIp != '' ">
                    AND link_device_ip = #{linkDeviceIp}
                </if>
            </where>
    </select>
    <select id="getHistoryByStrategyId"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockHistoryVO">
        SELECT
        id,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        device_id deviceId,
        src_address srcAddress,
        dest_address destAddress,
        content,
        strategy_id strategyId,
        nta_name ntaName
        FROM
        t_block_history
        WHERE  strategy_id = #{strategyId}
    </select>

    <select id="getHistoryByIds" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockHistoryVO">
        SELECT *, launch_times "count" FROM t_block_history WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" index="index" item="id">
            #{id}
        </foreach>

    </select>

    <delete id="deleteHistoryById">
        DELETE FROM t_block_history WHERE id = #{id}
    </delete>

    <update id="updateDeviceIpAndId">
        UPDATE t_block_history
        SET device_id = #{currentDeviceId}, link_device_ip = #{masterHost}
        WHERE device_id = #{previousDeviceId} AND link_device_type = #{linkDeviceType};
    </update>

    <select id="getIdsByStrategyId" resultType="java.lang.Long">
        SELECT id FROM t_block_history WHERE strategy_id = #{strategyId};
    </select>
</mapper>
