<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.threatMonitor.mapper.EventTemplateMapper">

    <insert id="batchInsert" parameterType="com.dbapp.extension.xdr.threatMonitor.entity.EventTemplate">
        INSERT INTO t_event_template
        (incident_name,incident_rule_type,incident_class_type, incident_sub_class_type ,incident_type,incident_cond,incident_description,
        incident_suggestion,conclusion,focus,display_filed,enable,update_time,uniq_code,incident_children,priority,netflow_log_field,host_log_field)
        VALUES
        <foreach collection="list" item="eventList" separator=",">
            (#{eventList.incidentName,jdbcType=VARCHAR},#{eventList.incidentRuleType,jdbcType=VARCHAR},#{eventList.incidentClassType,jdbcType=VARCHAR},
            #{eventList.incidentSubClassType,jdbcType=VARCHAR},(#{eventList.incidentType,jdbcType=INTEGER}::int)::boolean,#{eventList.incidentCond,jdbcType=VARCHAR},
            #{eventList.incidentDescription,jdbcType=VARCHAR},#{eventList.incidentSuggestion,jdbcType=VARCHAR},#{eventList.conclusion,jdbcType=VARCHAR},
            #{eventList.focus,jdbcType=VARCHAR},#{eventList.displayFiled,jdbcType=VARCHAR},(#{eventList.enable,jdbcType=INTEGER}::int)::boolean,CAST(CAST(#{eventList.updateTime} AS timestamp) AS timestamp),
            #{eventList.uniqCode,jdbcType=INTEGER},#{eventList.incidentChildren,jdbcType=VARCHAR},#{eventList.priority,jdbcType=INTEGER},
            #{eventList.netflowLogField,jdbcType=VARCHAR},#{eventList.hostLogField,jdbcType=VARCHAR})
        </foreach>
        ON CONFLICT (uniq_code) DO UPDATE SET
        incident_name = EXCLUDED.incident_name,incident_rule_type= EXCLUDED.incident_rule_type, incident_class_type= EXCLUDED.incident_class_type ,incident_sub_class_type= EXCLUDED.incident_sub_class_type,
        incident_type= EXCLUDED.incident_type,incident_cond= EXCLUDED.incident_cond,incident_description= EXCLUDED.incident_description,incident_suggestion= EXCLUDED.incident_suggestion,
        conclusion= EXCLUDED.conclusion,focus= EXCLUDED.focus,display_filed= EXCLUDED.display_filed,enable= EXCLUDED.enable,update_time= EXCLUDED.update_time,incident_children= EXCLUDED.incident_children,
        priority= EXCLUDED.priority,netflow_log_field= EXCLUDED.netflow_log_field,host_log_field= EXCLUDED.host_log_field
    </insert>

    <resultMap id="baseResult" type="com.dbapp.extension.xdr.threatMonitor.entity.EventTemplate">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result column="incident_rule_type" property="incidentRuleType" jdbcType="VARCHAR"/>
        <result column="display_filed" property="displayFiled" jdbcType="VARCHAR"/>
        <result column="incident_cond" property="incidentCond" jdbcType="VARCHAR"/>
        <result column="incident_type" property="incidentType" jdbcType="VARCHAR"/>
        <result column="focus" property="focus" jdbcType="VARCHAR"/>
        <result column="incident_suggestion" property="incidentSuggestion" jdbcType="VARCHAR"/>
        <result column="conclusion" property="conclusion" jdbcType="VARCHAR"/>
        <result column="incident_sub_class_type" property="incidentSubClassType" jdbcType="VARCHAR"/>
        <result column="incident_name" property="incidentName" jdbcType="VARCHAR"/>
        <result column="incident_description" property="incidentDescription" jdbcType="VARCHAR"/>
        <result column="incident_children" property="incidentChildren" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="netflow_log_field" property="netflowLogField" jdbcType="VARCHAR"/>
        <result column="host_log_field" property="hostLogField" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllTemplate" resultMap="baseResult">
    SELECT
        id,
        incident_rule_type,
        display_filed,
        incident_cond,
        incident_type,
        focus,
        incident_suggestion,
        conclusion,
        incident_sub_class_type,
        incident_class_type,
        incident_name,
        incident_description,
        incident_children,
        priority,
        netflow_log_field,
        host_log_field
    FROM
        t_event_template
    WHERE
        (ENABLE = true)
    </select>

    <select id="truncate">
        TRUNCATE TABLE t_event_template
    </select>

    <select id="queryCodeCount" resultType="Long">
        SELECT COUNT(1) FROM t_event_template WHERE uniq_code IS NOT NULL
    </select>


    <insert id="updateByUniqCode" parameterType="com.dbapp.extension.xdr.threatMonitor.entity.EventTemplate">
        INSERT INTO t_event_template
        (incident_name,incident_rule_type,incident_class_type, incident_sub_class_type ,incident_type,incident_cond,incident_description,
        incident_suggestion,conclusion,focus,display_filed,enable,update_time,uniq_code,incident_children,priority,netflow_log_field,host_log_field)
        VALUES
        (#{incidentName,jdbcType=VARCHAR},#{incidentRuleType,jdbcType=VARCHAR},#{incidentClassType,jdbcType=VARCHAR},
        #{incidentSubClassType,jdbcType=VARCHAR},(#{incidentType,jdbcType=INTEGER}::int)::boolean,#{incidentCond,jdbcType=VARCHAR},
        #{incidentDescription,jdbcType=VARCHAR},#{incidentSuggestion,jdbcType=VARCHAR},#{conclusion,jdbcType=VARCHAR},
        #{focus,jdbcType=VARCHAR},#{displayFiled,jdbcType=VARCHAR},(#{enable,jdbcType=INTEGER}::int)::boolean,CAST(CAST(#{updateTime} AS timestamp) AS timestamp),
        #{uniqCode,jdbcType=INTEGER},#{incidentChildren,jdbcType=VARCHAR},#{priority,jdbcType=INTEGER},
        #{netflowLogField,jdbcType=VARCHAR},#{hostLogField,jdbcType=VARCHAR})
        ON CONFLICT (uniq_code) DO UPDATE SET
        incident_name = EXCLUDED.incident_name,incident_rule_type= EXCLUDED.incident_rule_type, incident_class_type= EXCLUDED.incident_class_type ,incident_sub_class_type= EXCLUDED.incident_sub_class_type,
        incident_type= EXCLUDED.incident_type,incident_cond= EXCLUDED.incident_cond,incident_description= EXCLUDED.incident_description,incident_suggestion= EXCLUDED.incident_suggestion,
        conclusion= EXCLUDED.conclusion,focus= EXCLUDED.focus,display_filed= EXCLUDED.display_filed,enable= EXCLUDED.enable,update_time= EXCLUDED.update_time,incident_children=EXCLUDED.incident_children,
        priority= EXCLUDED.priority,netflow_log_field= EXCLUDED.netflow_log_field,host_log_field= EXCLUDED.host_log_field
    </insert>


    <update id="updateByIncidentName" parameterType="com.dbapp.extension.xdr.threatMonitor.entity.EventTemplate">
        UPDATE t_event_template SET
        incident_rule_type = #{incidentRuleType,jdbcType=VARCHAR},
        incident_class_type = #{incidentClassType,jdbcType=VARCHAR}, incident_sub_class_type = #{incidentSubClassType,jdbcType=VARCHAR} ,
        incident_type = (#{incidentType,jdbcType=INTEGER}::int)::boolean,incident_cond = #{incidentCond,jdbcType=VARCHAR},incident_description = #{incidentDescription,jdbcType=VARCHAR},
        incident_suggestion = #{incidentSubClassType,jdbcType=VARCHAR},conclusion = #{conclusion,jdbcType=VARCHAR},focus = #{focus,jdbcType=VARCHAR},
        display_filed = #{displayFiled,jdbcType=VARCHAR},enable = (#{enable,jdbcType=INTEGER}::int)::boolean,update_time = CAST(CAST(#{updateTime} AS timestamp) AS timestamp),incident_children = #{incidentChildren,jdbcType=VARCHAR},
        priority = #{priority,jdbcType=INTEGER},netflow_log_field = #{netflowLogField,jdbcType=VARCHAR},host_log_field = #{hostLogField,jdbcType=VARCHAR}
        WHERE incident_name = #{incidentName,jdbcType=VARCHAR}
    </update>
</mapper>
