<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.linkageHandle.mapper.NoticeHistoryMapper">

     <select id="countLaunchTimesByStrategyId" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BaseHistoryVO">
        SELECT strategy_id, COUNT(1) AS count
        FROM t_notice_history
        WHERE strategy_id IN
        <foreach collection='strategyIds' item='strategyId' open='(' close=')' index='index' separator=','>
            #{strategyId}
        </foreach>
        GROUP BY strategy_id;
    </select>

    <insert id="batchInsert">
        insert into t_notice_history
        (user_id,contact_type,contact_at,start_time_min,count ,alert_content,failure_msg,device_id,status,event_ids,strategy_id,create_time,update_time)
        values
        <foreach collection="insertList" item="item" index="index" separator=",">
            (
            #{item.receiverId},
            #{item.contactType},
            CAST(#{item.contactAt} AS timestamp),
            #{item.startTimeMin},
            #{item.count},
            #{item.alertContent},
            #{item.failureMsg},
            #{item.deviceId},
            #{item.status},
            #{item.eventIdStr},
            #{item.strategyId},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
            )
        </foreach>
    </insert>

    <select id="getNoticeListCount" resultType="java.lang.Long" parameterType="com.dbapp.extension.xdr.linkageHandle.entity.NoticeHistoryParam">
        SELECT
        count(tnh.id)
        FROM
        t_linked_strategy tls right join t_notice_history tnh
        on
        tls.id = tnh.strategy_id
        <where>
            <if test="param.strategyName != null and param.strategyName != ''">
                and tls.strategy_name like '%' || #{param.strategyName} || '%'
            </if>
            <if test="param.receiverIds != null and param.receiverIds.size>0">
                AND tnh.user_id IN
                <foreach collection="param.receiverIds"  open="(" close=")" index="index" item="reId" separator=",">
                    #{reId}
                </foreach>
            </if>
            <if test="param.contactAtLow != null and param.contactAtLow!=''">
                AND tnh.contact_at &gt;= #{param.contactAtLow}
            </if>
            <if test="param.contactAtUp != null and param.contactAtUp!=''">
                AND tnh.contact_at &lt;= #{param.contactAtUp}
            </if>
            <if test="param.contactType != null and param.contactType!=''">
                AND tnh.contact_type = #{param.contactType}
            </if>
            <if test="param.alertContent != null and param.alertContent!=''">
                AND tnh.alert_content LIKE '%' || #{param.alertContent} || '%'
            </if>
            <if test="param.strategyId != null ">
                and tnh.strategy_id=#{param.strategyId}
            </if>
        </where>
    </select>
    <select id="getNoticeHistory" resultType="com.dbapp.extension.xdr.linkageHandle.entity.NoticeHistoryVO" parameterType="com.dbapp.extension.xdr.linkageHandle.entity.NoticeHistoryParam">
        SELECT
            tnh.id,
            COALESCE(tls.strategy_name,"已删除策略") strategyName,
            tnh.user_id receiverId,
            tnh.contact_type contactType,
            tnh.alert_content alertContent,
            tnh.status status,
            tnh.count count,
            tnh.failure_msg failureMsg,
            tnh.event_ids eventIdStr,
            TO_CHAR(tnh.contact_at, 'YYYY-MM-DD HH24:MI:SS') AS contactAt,
            TO_CHAR(tnh.start_time_min, 'YYYY-MM-DD HH24:MI:SS') AS startTimeMin
        FROM
            t_linked_strategy tls right join t_notice_history tnh
            on
            tls.id = tnh.strategy_id
            <where>
                <if test="param.strategyId != null">
                    and tnh.strategy_id = #{param.strategyId}
                </if>
                <if test="param.strategyName != null and param.strategyName != ''">
                    and tls.strategy_name like '%' || #{param.strategyName} || '%'
                </if>
                <if test="param.receiverIds != null and param.receiverIds.size>0">
                    AND tnh.user_id IN
                    <foreach collection="param.receiverIds"  open="(" close=")" index="index" item="reId" separator=",">
                        #{reId}
                    </foreach>
                </if>
                <if test="param.contactAtLow != null and param.contactAtLow!=''">
                    AND tnh.contact_at &gt;= #{param.contactAtLow}
                </if>
                <if test="param.contactAtUp != null and param.contactAtUp!=''">
                    AND tnh.contact_at &lt;= #{param.contactAtUp}
                </if>
                <if test="param.contactType != null and param.contactType!=''">
                    AND tnh.contact_type = #{param.contactType}
                </if>
                <if test="param.alertContent != null and param.alertContent!=''">
                    AND tnh.alert_content LIKE '%' || #{param.alertContent} || '%'
                </if>
            </where>
        order by
        <choose>
            <when test="orderByStr == null or orderByStr == ''">
                tnh.contact_at desc
            </when>
            <otherwise>
                ${orderByStr}
            </otherwise>
        </choose>
        <if test="param.limit != null and param.offset !=null and param.limit != 0 and param.offset >= 0">
            limit #{param.limit} offset #{param.offset};
        </if>
    </select>

    <select id="getIdsByStrategyId" resultType="java.lang.Long">
        SELECT id FROM t_notice_history WHERE strategy_id = #{strategyId}
    </select>
</mapper>
