<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.linkageHandle.mapper.ProhibitHistoryMapper">

    <sql id="commonCondition">
        <if test="param.linkDeviceType != null and param.linkDeviceType != ''">
            AND link_device_type IN
            <foreach collection="param.linkDeviceType.split(',')" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.linkDeviceIp != null and param.linkDeviceIp != ''">
            AND link_device_ip ILIKE '%' || #{param.linkDeviceIp} || '%'
        </if>
        <if test="!param.prohibitType.equals('domain')">
            <if test="param.blockIp != null and param.blockIp != ''">
                <if test="param.isFull">
                    AND check_ip_match(#{param.blockIp}, block_ip)
                </if>

                <if test="!param.isFull">
                    AND block_ip ILIKE '%' || #{param.blockIp} || '%'
                </if>
            </if>
            <if test="param.secondIp != null">
                <choose>
                    <when test="param.secondIp == ''">
                        AND second_ip != ''
                    </when>
                    <otherwise>
                        AND second_ip ILIKE '%' || #{param.secondIp} || '%'
                    </otherwise>
                </choose>
            </if>
        </if>
        <if test="param.prohibitType.equals('domain') and param.blockDomain != null and param.blockDomain != ''">
            AND block_domain ILIKE '%' || #{param.blockDomain} || '%'
        </if>
        <if test="param.nodeIp != null and param.nodeIp != ''">
            AND node_ip ILIKE '%' || #{param.nodeIp} || '%'
        </if>
    </sql>
    <sql id="sourceCommonCondition">
        <if test="param.source != null and param.source != ''">
            AND "source" IN
            <foreach collection="param.source.split(',')" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <include refid="directionCondition"></include>
    </sql>

    <sql id="directionCondition">
        <if test="param.direction!= null and param.direction != ''">
            <foreach collection="param.direction.split(',')" item="item" index="index" separator="or" open="and ("  close=")">
                <choose>
                    <when test="item == 'in'">
                        direction = 1
                    </when>
                    <when test="item == 'out'">
                        direction = 2
                    </when>
                    <otherwise>
                        direction = 3
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </sql>

    <select id="sumLaunchTimesByStrategyId" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BaseHistoryVO">
        SELECT strategy_id, SUM(launch_times) AS "count"
        FROM (
        SELECT strategy_id, launch_times
        FROM t_prohibit_history
        WHERE strategy_id IN
        <foreach collection='strategyIds' item='strategyId' open='(' close=')' index='index' separator=','>
            #{strategyId}
        </foreach>
        UNION ALL
        SELECT strategy_id, launch_times
        FROM t_prohibit_domain_history
        WHERE strategy_id IN
        <foreach collection='strategyIds' item='strategyId' open='(' close=')' index='index' separator=','>
            #{strategyId}
        </foreach>) AS prohibit_history
        GROUP BY strategy_id;
    </select>

    <insert id="insertProhibitHistory">
            <if test="param.blockDomain != null and param.blockDomain != ''">
                insert into t_prohibit_domain_history
            </if>
            <if test="param.blockDomain == null or param.blockDomain == ''">
                insert into t_prohibit_history
            </if>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="param.blockDomain != null and param.blockDomain != ''">
                block_domain,
            </if>
            <if test="param.blockIp != null and param.blockIp != ''">
                block_ip,
            </if>
            <if test="param.secondIp != null and param.secondIp != ''">
                second_ip,
            </if>
            <if test="param.linkDeviceIp != null and param.linkDeviceIp != ''">
                link_device_ip,
            </if>
            <if test="param.linkDeviceType != null and param.linkDeviceType != ''">
                link_device_type,
            </if>
            <if test="param.status != null">
                "status",
            </if>
            <if test="param.deviceId != null">
                device_id,
            </if>
            <if test="param.effectTime != null and param.effectTime != ''">
                effect_time,
            </if>
            create_time,
            update_time,
            <if test="param.createType != null and param.createType != ''">
                create_type,
            </if>
            <if test="param.source != null and param.source != ''">
                "source",
            </if>
            <if test="param.strategyId != null">
                strategy_id,
            </if>
            <if test="param.fileBlock != null">
                file_block,
            </if>
            <if test="param.processBlock != null">
                process_block,
            </if>
            <if test="param.ntaName != null and param.ntaName != ''">
                nta_name,
            </if>
            <if test="param.recoveryId != null and param.recoveryId != ''">
                recovery_id,
            </if>
            <if test="param.direction != null">
                direction,
            </if>
            <if test="param.nodeIp != null and param.nodeIp != ''">
                node_ip,
            </if>
            <if test="param.nodeId != null and param.nodeId != ''">
                node_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="param.blockDomain != null and param.blockDomain != ''">
                #{param.blockDomain},
            </if>
            <if test="param.blockIp != null and param.blockIp != ''">
                #{param.blockIp},
            </if>
            <if test="param.secondIp != null and param.secondIp != ''">
                #{param.secondIp},
            </if>
            <if test="param.linkDeviceIp != null and param.linkDeviceIp != ''">
                #{param.linkDeviceIp},
            </if>
            <if test="param.linkDeviceType != null and param.linkDeviceType != ''">
                #{param.linkDeviceType},
            </if>
            <if test="param.status != null">
                #{param.status},
            </if>
            <if test="param.deviceId != null">
                #{param.deviceId},
            </if>
            <if test="param.effectTime != null and param.effectTime != ''">
                CAST(#{param.effectTime} AS timestamp),
            </if>
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            <if test="param.createType != null and param.createType != ''">
                #{param.createType},
            </if>
            <if test="param.source != null and param.source != ''">
                #{param.source},
            </if>
            <if test="param.strategyId != null">
                #{param.strategyId},
            </if>
            <if test="param.fileBlock != null">
                #{param.fileBlock},
            </if>
            <if test="param.processBlock != null">
                #{param.processBlock},
            </if>
            <if test="param.ntaName != null and param.ntaName != ''">
                #{param.ntaName},
            </if>
            <if test="param.recoveryId != null and param.recoveryId != ''">
                #{param.recoveryId},
            </if>
            <if test="param.direction != null">
                #{param.direction},
            </if>
            <if test="param.nodeIp != null and param.nodeIp != ''">
                #{param.nodeIp},
            </if>
            <if test="param.nodeId != null and param.nodeId != ''">
                #{param.nodeId},
            </if>
        </trim>
        ON CONFLICT (link_device_ip, device_id, COALESCE(block_ip, ''), COALESCE(block_domain, ''), COALESCE(second_ip, ''), COALESCE(node_id, ''), direction, effect_time) 
        DO UPDATE SET
        <trim prefix="" suffix="" suffixOverrides=",">
            update_time = CURRENT_TIMESTAMP,
            launch_times = EXCLUDED.launch_times + 1,
            <if test="param.status != null">
                "status" = #{param.status},
            </if>
            <if test="param.effectTime != null and param.effectTime != ''">
                effect_time = CAST(#{param.effectTime} AS timestamp),
            </if>
            <if test="param.ntaName != null and param.ntaName != ''">
                nta_name = #{param.ntaName},
            </if>
            <if test="param.recoveryId != null and param.recoveryId != ''">
                recovery_id = #{param.recoveryId},
            </if>
            <if test="param.direction != null">
                direction = #{param.direction},
            </if>
            <if test="param.nodeIp != null and param.nodeIp != ''">
                node_ip = #{param.nodeIp},
            </if>
            <if test="param.nodeId != null and param.nodeId != ''">
                node_id = #{param.nodeId},
            </if>
        </trim>
    </insert>
    <update id="updateByBlockipAndDeviceIp">
        <if test="blockDomain != null and blockDomain != ''">
            UPDATE t_prohibit_domain_history
        </if>
        <if test="blockDomain == null or blockDomain == ''">
            UPDATE t_prohibit_history
        </if>
        SET "status" = false
        <where>
            <if test="linkDeviceIp != null and linkDeviceIp != ''">
                link_device_ip = #{linkDeviceIp}
            </if>
            <if test="blockDomain != null and blockDomain != ''">
                AND block_domain = #{blockDomain}
            </if>
            <if test="blockDomain == null or blockDomain == ''">
                AND block_ip = #{blockIp}
            </if>
            <if test="nodeId != null and nodeId != ''">
                AND node_id = #{nodeId}
            </if>
            <if test="direction != null and direction != ''">
                AND direction = #{direction}
            </if>
            <if test="effectTime != null and effectTime != ''">
                AND effect_time = CAST(#{effectTime} AS timestamp)
            </if>
        </where>
    </update>

    <update id="updateStatusById">
        <if test="prohibitDomain">
            update t_prohibit_domain_history
        </if>
        <if test="!prohibitDomain">
            update t_prohibit_history
        </if>
         set "status" = false where id = #{id}
    </update>

    <delete id="deleteByIds">
        <if test="!prohibitType.equals('domain')">
            DELETE FROM t_prohibit_history
        </if>
        <if test="prohibitType.equals('domain')">
            DELETE FROM t_prohibit_domain_history
        </if>
        WHERE id IN
        <foreach collection='ids' item='id' open='(' close=')' index='index' separator=','>
            #{id}
        </foreach>
    </delete>

    <select id="getProhibitListByCondition" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO" parameterType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryParam">
        SELECT
        tph.id,
        tph.strategy_id strategyId,
        tph.create_time createTime,
        COALESCE(tls.strategy_name,'已删除策略') strategyName,
        tph.link_device_ip linkDeviceIp,
        tph.link_device_type linkDeviceType,
        tph.effect_time effectTime,
        tph.device_id deviceId,
        tph."source",
        tph."status" "status",
        tph.direction,
        tph.node_ip nodeIp,
        tph.node_id nodeId,
        tph.create_type createType,
        tph.launch_times "count",
        <if test="!param.prohibitType.equals('domain')">
            tph.block_ip blockIp,
            tph.second_ip secondIp
            FROM t_linked_strategy tls right join t_prohibit_history tph on tls.id = tph.strategy_id
        </if>
        <if test="param.prohibitType.equals('domain')">
            tph.block_domain blockDomain
            FROM t_linked_strategy tls right join t_prohibit_domain_history tph on tls.id = tph.strategy_id
        </if>
        <where>
            <if test="param.strategyId != null">
                and tph.strategy_id = #{param.strategyId}
            </if>
            <if test="param.idList != null and param.idList.size() != 0">
                and tph.id in
                <foreach collection="param.idList" item="id" index="index" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.status != null">
                and tph."status"=#{param.status}
            </if>
            <if test="param.deviceId != null">
                and tph.device_id = #{param.deviceId}
            </if>
            <if test="param.source!= null and param.source!= ''">
                and tph."source" in
                <foreach collection="param.source.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.startTime!= null and param.startTime!= ''">
                and tph.create_time &gt;= CAST(#{param.startTime} AS timestamp)
            </if>
            <if test="param.endTime!= null and param.endTime!= ''">
                and tph.create_time &lt;= CAST(#{param.endTime} AS timestamp)
            </if>
            <include refid="commonCondition"/>
            <include refid="directionCondition"></include>
        </where>
        order by
        <choose>
            <when test="orderByStr == null or orderByStr == ''">
                tph.create_time desc
            </when>
            <otherwise>
                ${orderByStr}, tph.create_time desc
            </otherwise>
        </choose>
        <if test="param.limit != null and param.offset !=null and param.limit != 0 and param.offset >= 0">
            limit #{param.limit} offset #{param.offset}
        </if>
    </select>

    <select id="listByCondition" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO" parameterType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryParam">
        SELECT
            tph.id,
            tph.create_time createTime,
            COALESCE(tls.strategy_name, '已删除策略') strategyName,
            tph.link_device_ip linkDeviceIp,
            tph.link_device_type linkDeviceType,
            tph.effect_time effectTime,
            tph."source",
            tph."status",
            tph.create_type,
            tph.launch_times "count",
            tls."status" strategyState,
            tph.device_id deviceId,
            tph.nta_name ntaName,
            tph.recovery_id recoveryId,
            tph.direction,
            tph.node_ip nodeIp,
            tph.node_id nodeId,
        <if test="!param.prohibitType.equals('domain')">
            tph.block_ip blockIp
            FROM t_linked_strategy tls
            RIGHT JOIN t_prohibit_history tph ON tls.id = tph.strategy_id
        </if>
        <if test="param.prohibitType.equals('domain')">
            tph.block_domain blockDomain
            FROM t_linked_strategy tls
            RIGHT JOIN t_prohibit_domain_history tph ON tls.id = tph.strategy_id
        </if>
        <where>
            <if test="param.idList != null and param.idList.size() != 0">
                tph.id in
                <foreach collection="param.idList" item="id" index="index" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.status != null">
                and tph."status"=#{param.status}
            </if>
            <if test="param.strategyId != null">
                and tph.strategy_id=#{param.strategyId}
            </if>
            <if test="param.source!= null and param.source!= ''">
                and tph."source" in
                <foreach collection="param.source.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.direction!= null and param.direction!= ''">
                <foreach collection="param.direction.split(',')" item="item" index="index" separator="or" open="and ("  close=")">
                    <choose>
                        <when test="item == 'in'">
                            tph.direction = 1
                        </when>
                        <when test="item == 'out'">
                            tph.direction = 2
                        </when>
                        <otherwise>
                            tph.direction = 3
                        </otherwise>
                    </choose>
                </foreach>
            </if>
            <if test="param.startTime!= null and param.startTime!= ''">
                and tph.create_time &gt;= CAST(#{param.startTime} AS timestamp)
            </if>
            <if test="param.endTime!= null and param.endTime!= ''">
                and tph.create_time &lt;= CAST(#{param.endTime} AS timestamp)
            </if>
            <include refid="commonCondition"/>
        </where>
    </select>

    <select id="getProhibitListCount" resultType="java.lang.Long" parameterType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryParam">
        SELECT
        COUNT(tph.id)
        FROM
        t_linked_strategy tls
        <if test="!param.prohibitType.equals('domain')">
            right join t_prohibit_history tph on tls.id = tph.strategy_id
        </if>
        <if test="param.prohibitType.equals('domain')">
            right join t_prohibit_domain_history tph on tls.id = tph.strategy_id
        </if>
        <where>
            <if test="param.strategyId != null">
                and tph.strategy_id = #{param.strategyId}
            </if>
            <if test="param.idList != null and param.idList.size() != 0">
                and tph.id in
                <foreach collection="param.idList" item="id" index="index" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.status != null">
                and tph."status"=#{param.status}
            </if>
            <if test="param.source!= null and param.source!= ''">
                and tph."source" in
                <foreach collection="param.source.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.direction!= null and param.direction!= ''">
                <foreach collection="param.direction.split(',')" item="item" index="index" separator="or" open="and ("  close=")">
                    <choose>
                        <when test="item == 'in'">
                            tph.direction = 1
                        </when>
                        <when test="item == 'out'">
                            tph.direction = 2
                        </when>
                        <otherwise>
                            tph.direction = 3
                        </otherwise>
                    </choose>
                </foreach>
            </if>
            <if test="param.startTime!= null and param.startTime!= ''">
                and tph.create_time &gt;= CAST(#{param.startTime} AS timestamp)
            </if>
            <if test="param.endTime!= null and param.endTime!= ''">
                and tph.create_time &lt;= CAST(#{param.endTime} AS timestamp)
            </if>
            <include refid="commonCondition"></include>
        </where>
    </select>

    <select id="getBlockIPDistribution" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockIPDistribution">
        <if test="!param.prohibitType.equals('domain')">
            SELECT link_device_type, COUNT(DISTINCT block_ip) AS "count"
            FROM t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            SELECT link_device_type, COUNT(DISTINCT block_domain) AS "count"
            FROM t_prohibit_domain_history
        </if>
        WHERE "status" = true
          <if test="linkingDeviceIds != null and linkingDeviceIds.size > 0">
            AND device_id IN
            <foreach collection="linkingDeviceIds" item="linkingDeviceId" index="index" separator="," open="(" close=")">
                #{linkingDeviceId}
            </foreach>
          </if>
        <if test="linkingDeviceIps != null and linkingDeviceIps.size > 0">
            AND link_device_ip IN
            <foreach collection="linkingDeviceIps" item="ip" index="index" separator="," open="(" close=")">
                #{ip}
            </foreach>
        </if>
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
        GROUP BY link_device_type
        ORDER BY "count" DESC
        LIMIT 10
    </select>

    <select id="getTrend" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BlockIPTrend">
        select
        TO_CHAR(create_time, 'MM-DD') "date",
        create_type "method",
        <if test="!param.prohibitType.equals('domain')">
            count(distinct block_ip) "count"
            from
            t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            count(distinct block_domain) "count"
            from
            t_prohibit_domain_history
        </if>
        <where>
            create_time &gt;= CURRENT_TIMESTAMP - INTERVAL '7 days'
            <include refid="commonCondition"/>
            <include refid="sourceCommonCondition"></include>
        </where>
        group by "date"
    </select>

    <select id="getBlockIPCount" resultType="java.lang.Long">
        <if test="!param.prohibitType.equals('domain')">
            SELECT
            COUNT(distinct block_ip)
            FROM t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            SELECT
            COUNT(distinct block_domain)
            FROM t_prohibit_domain_history
        </if>
        WHERE "status" = true
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>

    <select id="getBlockIPTodayCount" resultType="java.lang.Long">
        <if test="!param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_ip) FROM t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_domain) FROM t_prohibit_domain_history
        </if>
        WHERE "status" = true and update_time &gt;= CURRENT_DATE
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>

    <select id="getAutoBlockIPCount" resultType="java.lang.Long">
        <if test="!param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_ip) FROM t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_domain) FROM t_prohibit_domain_history
        </if>
        WHERE "status" = true and create_type in ('alarmType','securityEvent')
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>

    <select id="getAutoBlockIPTodayCount" resultType="java.lang.Long">
        <if test="!param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_ip) FROM t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_domain) FROM t_prohibit_domain_history
        </if>
        WHERE "status" = true and create_type in ('alarmType','securityEvent') and update_time &gt;= CURRENT_DATE
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>

    <select id="getTriggerSubscriptionCount" resultType="java.lang.Long">
        SELECT
        COUNT(distinct strategy_id)
        FROM t_linked_strategy a
        <if test="!param.prohibitType.equals('domain')">
            left join t_prohibit_history b on a.id = b.strategy_id
        </if>
        <if test="param.prohibitType.equals('domain')">
            left join t_prohibit_domain_history b on a.id = b.strategy_id
        </if>
    </select>
    <select id="getStrategyCount" resultType="java.lang.Long">
        SELECT
        COUNT(distinct strategy_id)
        FROM t_strategy_device_rel
        <where>
            <if test="!param.prohibitType.equals('domain')">
                ("action" = 'prohibit' or "action" = 'ipProhibit')
            </if>
            <if test="param.prohibitType.equals('domain')">
                AND ("action" = 'prohibitDomain' or "action" = 'edrProhibitDomain')
            </if>
        </where>
    </select>

    <select id="getProhibitListByDeviceId"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
            id,
            block_ip blockIp,
            second_ip secondIp,
            null blockDomain,
            link_device_ip linkDeviceIp,
            link_device_type linkDeviceType,
            "status" ,
            device_id deviceId,
            effect_time effectTime,
            "source",
            create_type createType,
            strategy_id strategyId,
            file_block fileBlock,
            process_block processBlock,
            create_time createTime,
            update_time updateTime,
            nta_name ntaName,
            recovery_id recoveryId,
            node_id nodeId
        FROM
            t_prohibit_history
        where strategy_id = #{strategyId} and device_id = #{deviceId}
        UNION ALL
        SELECT
        id,
        null blockIp,
        null secondIp,
        block_domain blockDomain,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        "status" ,
        device_id deviceId,
        effect_time effectTime,
        "source",
        create_type createType,
        strategy_id strategyId,
        file_block fileBlock,
        process_block processBlock,
        create_time createTime,
        update_time updateTime,
        nta_name ntaName,
        recovery_id recoveryId,
        node_id nodeId
        FROM
        t_prohibit_domain_history
        where strategy_id = #{strategyId} and device_id = #{deviceId}
    </select>

    <select id="getPairHistories" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
        id,
        block_ip blockIp,
        second_ip secondIp,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        "status" ,
        device_id deviceId,
        effect_time effectTime,
        "source",
        create_type createType,
        strategy_id strategyId,
        file_block fileBlock,
        process_block processBlock,
        create_time createTime,
        update_time updateTime
        FROM
        t_prohibit_history
        WHERE "status" = true
        AND (
            (block_ip = #{blockIp} AND second_ip = #{secondIp})
            OR (block_ip = #{blockIp} AND second_ip = 'any')
            OR (block_ip = 'any' AND second_ip = #{secondIp})
            OR (block_ip = 'any' AND second_ip = 'any')
        )
        AND device_id IN
        <foreach collection="deviceIds" item="deviceId" index="index" open="(" close=")" separator=",">
            #{deviceId}
        </foreach>
    </select>

    <select id="getSingleHistories" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
                id,
                block_ip blockIp,
                second_ip secondIp,
                link_device_ip linkDeviceIp,
                link_device_type linkDeviceType,
                "status" ,
                device_id deviceId,
                effect_time effectTime,
                "source",
                create_type createType,
                strategy_id strategyId,
                file_block fileBlock,
                process_block processBlock,
                create_time createTime,
                update_time updateTime
        FROM
                t_prohibit_history
        WHERE "status" = true
        AND second_ip = ''
        AND (block_ip LIKE '%-%'
            OR block_ip IN
            <foreach collection="singleIps" item="singleIp" index="index" open="(" close=")" separator=",">
                #{singleIp}
            </foreach>)
        AND device_id IN
        <foreach collection="deviceIds" item="deviceId" index="index" open="(" close=")" separator=",">
            #{deviceId}
        </foreach>
    </select>

    <select id="getHistoryByBlockList" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
        id,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        "status" ,
        device_id deviceId,
        effect_time effectTime,
        "source",
        create_type createType,
        strategy_id strategyId,
        file_block fileBlock,
        process_block processBlock,
        create_time createTime,
        update_time updateTime,
        <choose>
            <when test="prohibitDomain">
                block_domain blockDomain
                FROM t_prohibit_domain_history
            </when>
            <otherwise>
                block_ip blockIp
                FROM t_prohibit_history
            </otherwise>
        </choose>
        WHERE "status" = true AND link_device_ip = #{linkDeviceIp}
        <choose>
            <when test="prohibitDomain">
                AND block_domain IN
            </when>
            <otherwise>
                AND second_ip = '' AND block_ip IN
            </otherwise>
        </choose>
        <foreach collection="blockList" item="block" open="(" close=")" separator="," index="index">
            #{block}
        </foreach>
    </select>

    <select id="getHistoryById" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
            id,
            link_device_ip linkDeviceIp,
            link_device_type linkDeviceType,
            "status" ,
            device_id deviceId,
            effect_time effectTime,
            "source",
            create_type createType,
            strategy_id strategyId,
            file_block fileBlock,
            process_block processBlock,
            create_time createTime,
            update_time updateTime,
            nta_name ntaName,
            recovery_id recoveryId,
            node_ip nodeIp,
            node_id nodeId,
            direction,
        <if test="!prohibitType.equals('domain')">
            block_ip blockIp,
            second_ip secondIp
            FROM t_prohibit_history
        </if>
        <if test="prohibitType.equals('domain')">
            block_domain blockDomain
            FROM t_prohibit_domain_history
        </if>
        where id = #{id}
    </select>

    <select id="getUnsealIpTodayCount" resultType="java.lang.Long">
        <if test="!param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_ip) FROM t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            SELECT COUNT(distinct block_domain) FROM t_prohibit_domain_history
        </if>
        WHERE "status" = false and update_time &gt;= CURRENT_DATE
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>

    <select id="findHistoriesByDomain" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
        id,
        block_domain blockDomain,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        "status" ,
        device_id deviceId,
        effect_time effectTime,
        "source",
        create_type createType,
        strategy_id strategyId,
        file_block fileBlock,
        process_block processBlock,
        create_time createTime,
        update_time updateTime,
        nta_name ntaName
        FROM
        t_prohibit_domain_history
        WHERE "status" = true
        AND device_id IN
        <foreach collection="deviceIds" item="deviceId" index="index" separator="," open="(" close=")">
            #{deviceId}
        </foreach>
        AND (block_domain LIKE '%,%'
        <if test="blockDomains != null and blockDomains.size() > 0 ">
            OR block_domain IN
            <foreach collection="blockDomains" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>)
    </select>

    <select id="findEdrProhibitHistory" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
        id,
        link_device_ip linkDeviceIp,
        link_device_type linkDeviceType,
        "status" ,
        device_id deviceId,
        effect_time effectTime,
        "source",
        create_type createType,
        strategy_id strategyId,
        file_block fileBlock,
        process_block processBlock,
        create_time createTime,
        update_time updateTime,
        nta_name ntaName,
        <if test="blockDomain == null or blockDomain == ''">
            block_ip blockIp,
            second_ip secondIp
            FROM t_prohibit_history
            WHERE block_ip = #{blockIp}
            <choose>
                <when test="secondIp != null and secondIp != ''">
                    AND second_ip = #{secondIp}
                </when>
                <otherwise>
                    AND second_ip = ''
                </otherwise>
            </choose>
        </if>
        <if test="blockDomain != null and blockDomain != ''">
            block_domain blockDomain
            FROM t_prohibit_domain_history
            WHERE block_domain = #{blockDomain}
        </if>
        AND "status" = true
        AND nta_name = #{terminalId}
    </select>

    <select id="findEdrProhibitHistories" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
        nta_name ntaName,
        <choose>
            <when test="prohibitDomain">
                block_domain blockDomain
                FROM t_prohibit_domain_history
            </when>
            <otherwise>
                block_ip blockIp,
                second_ip secondIp
                FROM t_prohibit_history
            </otherwise>
        </choose>
        WHERE "status" = true
        AND nta_name IN
        <foreach collection="terminalIds" item="terminalId" index="index" separator="," open="(" close=")">
            #{terminalId}
        </foreach>
        <if test="!prohibitDomain">
            <choose>
                <when test="any">
                    AND (block_ip = 'any' OR second_ip = 'any')
                </when>
                <otherwise>
                    AND (block_ip != 'any' AND second_ip != 'any')
                    AND second_ip != ''
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="getAiGentNoDirectionHistory"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
            block_ip blockIp,
            second_ip secondIp,
            nta_name ntaName
        FROM t_prohibit_history
        WHERE "status" = true
        AND nta_name = #{agentId}
        AND (block_ip = #{remoteIp} OR block_ip = #{localIp})
        AND second_ip = ''
    </select>

    <select id="getAiGentNoDirectionHistories"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
                block_ip blockIp,
                second_ip secondIp,
                nta_name ntaName
        FROM t_prohibit_history
        WHERE "status" = true
        AND second_ip = ''
        AND nta_name IN
        <foreach collection="agentIds" item="agentId" index="index" open="(" close=")" separator=",">
            #{agentId}
        </foreach>
    </select>

    <select id="getAiGentDirectionHistories" resultType="java.lang.String">
        SELECT
            <choose>
                <when test="exit">
                    second_ip
                </when>
                <otherwise>
                    block_ip
                </otherwise>
            </choose>
        FROM t_prohibit_history
        WHERE "status" = true
        AND nta_name = #{agent.id}
        <choose>
            <when test="exit">
                AND block_ip = #{agent.ip}
                AND (second_ip = #{prohibitIp} OR second_ip = 'any' OR second_ip LIKE '%,%' OR second_ip LIKE '%-%')
            </when>
            <otherwise>
                AND (block_ip = #{prohibitIp} OR block_ip = 'any' OR block_ip LIKE '%,%' OR block_ip LIKE '%-%')
                AND second_ip = #{agent.ip}
            </otherwise>
        </choose>
    </select>

    <select id="getAiGentProhibitDomain" resultType="java.lang.String">
        SELECT block_domain
        FROM t_prohibit_domain_history
        WHERE "status" = true
        AND nta_name = #{agentId}
        AND (block_domain = #{requestDomain} OR block_domain LIKE '%,%')
    </select>

    <select id="prohibitListByStrategyId"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        SELECT
            id,
            block_ip blockIp,
            second_ip secondIp,
            null blockDomain,
            link_device_ip linkDeviceIp,
            link_device_type linkDeviceType,
            "status" ,
            device_id deviceId,
            effect_time effectTime,
            "source",
            create_type createType,
            strategy_id strategyId,
            file_block fileBlock,
            process_block processBlock,
            create_time createTime,
            update_time updateTime,
            nta_name ntaName,
            recovery_id recoveryId,
            node_id nodeId
        FROM
            t_prohibit_history
        where "status" = true and strategy_id = #{strategyId}
        UNION ALL
        SELECT
            id,
            null blockIp,
            null secondIp,
            block_domain blockDomain,
            link_device_ip linkDeviceIp,
            link_device_type linkDeviceType,
            "status" ,
            device_id deviceId,
            effect_time effectTime,
            "source",
            create_type createType,
            strategy_id strategyId,
            file_block fileBlock,
            process_block processBlock,
            create_time createTime,
            update_time updateTime,
            nta_name ntaName,
            recovery_id recoveryId,
            node_id nodeId
        FROM
            t_prohibit_domain_history
        where "status" = true and strategy_id = #{strategyId}
    </select>

    <delete id="deleteByStrategyId">
        DELETE FROM t_prohibit_history WHERE strategy_id = #{strategyId}
    </delete>

    <update id="updateDeviceIpAndId">
        UPDATE t_prohibit_history
        SET device_id = #{currentDeviceId}, link_device_ip = #{masterHost}
        WHERE device_id = #{previousDeviceId} AND link_device_type = #{linkDeviceType}
    </update>

    <select id="getIdsByStrategyId" resultType="java.lang.Long">
        <if test="prohibitDomain">
            SELECT id FROM t_prohibit_domain_history
        </if>
        <if test="!prohibitDomain">
            SELECT id FROM t_prohibit_history
        </if>
        WHERE strategy_id = #{strategyId}
    </select>

    <select id="getBlockDeviceIds" resultType="java.lang.String">
        SELECT DISTINCT device_id FROM
        <if test="!param.prohibitType.equals('domain')">
            t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            t_prohibit_domain_history
        </if>
        WHERE "status" = true
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>
    <select id="getBlockDeviceIps" resultType="java.lang.String">
        SELECT DISTINCT link_device_ip FROM
        <if test="!param.prohibitType.equals('domain')">
            t_prohibit_history
        </if>
        <if test="param.prohibitType.equals('domain')">
            t_prohibit_domain_history
        </if>
        WHERE "status" = true
        <include refid="commonCondition"/>
        <include refid="sourceCommonCondition"></include>
    </select>
    <select id="countEdrProhibit" resultType="java.lang.Integer">
        select count(*) from t_prohibit_history
        where node_ip = #{nodeIp}
        and block_ip = #{blockIp}
        and link_device_ip = #{linkDeviceIp}
        and effect_time = CAST(#{effectTime} AS timestamp)
        and direction = #{direction}
        and "status" = true

    </select>
    <select id="getDomainList" resultType="com.dbapp.extension.xdr.linkageHandle.entity.ProhibitHistoryVO">
        select node_id as nodeId, block_domain as blockDomain
        from t_prohibit_domain_history
        where "status" = true and node_id IN
        <foreach collection="nodeId" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and
        block_domain IN
        <foreach collection="blockDomain" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
