<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.threatMonitor.mapper.RiskIncidentHistoryMapper">
    <select id="getRiskHistoryList" resultType="java.util.Map">
        select id,"name",counts,
        event_code as eventCode,
        event_ids as eventIds,
        template_id as templateId,
        counts AS eventCount,
        CASE
        alarm_results
        WHEN 'OK' THEN
        '成功'
        WHEN 'FAIL' THEN
        '失败'
        WHEN 'UNKNOWN' THEN
        '尝试'
        END alarmResults,
        CASE
        threat_severity
        WHEN 'Low' THEN
        '低'
        WHEN 'Medium' THEN
        '中'
        WHEN 'High' THEN
        '高' ELSE '未知'
        END threatSeverity,
        top_event_type_chinese as topEventTypeChinese,
        TO_CHAR(start_time, 'YYYY-MM-DD HH24:MI:SS') as startTime,
        TO_CHAR(end_time, 'YYYY-MM-DD HH24:MI:SS') as endTime,
        second_event_type_chinese as subCategory,
        focus_ip  as focusIp,
        focus_object as focusObjectEN,
        CASE
        focus_object
        WHEN 'attacker' THEN
        '攻击者'
        ELSE '受害者'
        END focusObjectCN,
        filter_content as filterContent,
        data_source as dataSource,
        update_time as updateTime,
        create_time as createTime,
        CASE
        alarm_status
        WHEN 'unprocessed' THEN
        '未处置'
        WHEN 'processing' THEN
        '处置中'
        WHEN 'falsePositives' THEN
        '已处置-标记误报'
        WHEN 'processed' THEN
        '已处置-完成'
        WHEN 'ignore' THEN
        '已处置-忽略'
        END alarmStatus
        from t_risk_incidents_history
        <where>
            <if test="name != null and name != ''">
                "name" ILIKE '%' || #{name} || '%'
            </if>
            <if test="threatSeverity != null and threatSeverity.size() != null">
                and threat_severity in
                <foreach collection="threatSeverity" separator=","  open="(" close=")" item="sub">
                    #{sub}
                </foreach>
            </if>
            <if test="subCategory != null and subCategory.size() != null">
                and second_event_type_chinese in
                <foreach collection="subCategory" separator=","  open="(" close=")" item="sub">
                    #{sub}
                </foreach>
            </if>
            <if test="focusObject != null and focusObject != ''">
                and focus_object = #{focusObject,jdbcType=VARCHAR}
            </if>
            <if test="focusIp != null and focusIp != ''">
                and focus_ip ILIKE '%' || #{focusIp,jdbcType=VARCHAR} || '%'
            </if>
            <if test="alarmResult != null and alarmResult.size() != null">
                and alarm_results in
                <foreach collection="alarmResult" separator=","  open="(" close=")" item="sub">
                    #{sub}
                </foreach>
            </if>
            and end_time between CAST(#{startTime} AS timestamp) and CAST(#{endTime} AS timestamp)
        </where>
        order by
        <choose>
            <when test="orderByStr == null or orderByStr == ''">
                end_time desc
            </when>
            <otherwise>
                ${orderByStr}
            </otherwise>
        </choose>
        limit #{size,jdbcType=BIGINT} offset #{offSet,jdbcType=BIGINT}
    </select>

    <select id="queryEventCount" resultType="java.util.Map">
        select count(1) as eventCount,a.threatSeverity from (
        SELECT
        threat_severity AS threatSeverity
        FROM
        t_risk_incidents_history ti
        LEFT JOIN t_event_scenario_data td ON ti.id = td.incident_id
        LEFT JOIN t_event_template tm ON CAST(ti.template_id AS BIGINT) = tm.id
        WHERE
        ti.end_time BETWEEN CAST(#{startTime} AS timestamp) AND CAST(#{endTime} AS timestamp)
        <if test="eventName != null and eventName != ''">
            AND ti."name" ILIKE '%' || #{eventName} || '%'
        </if>
        <if test="focusIp != null and focusIp != ''">
            AND ti.focus_ip ILIKE '%' || #{focusIp} || '%'
        </if>
        <if test="focusObject != null and focusObject != ''">
            AND ti.focus_object = #{focusObject}
        </if>
        <if test="subCategory != null and subCategory.size() != 0">
            AND ti.second_event_type_chinese IN
            <foreach collection="subCategory" separator=","  open="(" close=")" item="sub">
                #{sub}
            </foreach>
        </if>
        <if test="alarmResult != null and alarmResult.size() != null">
            and alarm_results in
            <foreach collection="alarmResult" separator=","  open="(" close=")" item="sub">
                #{sub}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() != 0">
            AND ti.threat_severity IN
            <foreach collection="threatSeverity" separator=","  open="(" close=")" item="sub">
                #{sub}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() != 0">
            AND ti.threat_severity IN
            <foreach collection="threatSeverity" separator=","  open="(" close=")" item="severity">
                #{severity}
            </foreach>
        </if>) a
        GROUP BY a.threatSeverity
    </select>

    <select id="getFocusObject" resultType="java.lang.String">
        select focus_object from t_risk_incidents_history where id = #{id}
    </select>

    <select id="FocusIpMessage" parameterType="java.util.List" resultType="java.util.Map">
        select
        focus_ip as focusIp,
        src_geo_region as srcGeoRegion,
        security_zone as securityZone,
        TO_CHAR(end_time, 'YYYY-MM-DD HH24:MI:SS') as endTime
        from t_risk_incidents_out_going_history
        <where>
            event_code in (
            select event_code
            from t_risk_incidents_history
            <where>
                and id = #{id}
            </where>)
            <if test="ip != null and ip != ''">
                and focus_ip ILIKE '%' || #{ip,jdbcType=VARCHAR} || '%'
            </if>
        </where>
        order by
        end_time,
        case
        when cat_outcome = 'OK' then 1
        when cat_outcome = 'Attempt' then 2
        when cat_outcome = 'FAIL' then 3
        else 4 end
        limit #{size,jdbcType=BIGINT} offset #{offSet,jdbcType=BIGINT}
    </select>

    <select id="selectAllByIdList" resultType="java.util.Map">
        select id,"name",counts,
        event_code as eventCode,
        event_ids as eventIds,
        template_id as templateId,
        counts AS eventCount,
        CASE
        alarm_results
        WHEN 'OK' THEN
        '成功'
        WHEN 'FAIL' THEN
        '失败'
        WHEN 'UNKNOWN' THEN
        '尝试'
        END alarmResults,
        CASE
        threat_severity
        WHEN 'Low' THEN
        '低'
        WHEN 'Medium' THEN
        '中'
        WHEN 'High' THEN
        '高' ELSE '未知'
        END threatSeverity,
        top_event_type_chinese as topEventTypeChinese,
        TO_CHAR(start_time, 'YYYY-MM-DD HH24:MI:SS') as startTime,
        TO_CHAR(end_time, 'YYYY-MM-DD HH24:MI:SS') as endTime,
        second_event_type_chinese as subCategory,
        focus_ip  as focusIp,
        focus_object as focusObjectEN,
        CASE
        focus_object
        WHEN 'attacker' THEN
        '攻击者'
        ELSE '受害者'
        END focusObjectCN,
        filter_content as filterContent,
        data_source as dataSource,
        update_time as updateTime,
        create_time as createTime,
        CASE
        alarm_status
        WHEN 'unprocessed' THEN
        '未处置'
        WHEN 'processing' THEN
        '处置中'
        WHEN 'falsePositives' THEN
        '已处置-标记误报'
        WHEN 'processed' THEN
        '已处置-完成'
        WHEN 'ignore' THEN
        '已处置-忽略'
        END alarmStatus
        from t_risk_incidents_history
        <where>
            id in
            <foreach collection="evenIdList" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="getCount" resultType="java.lang.Long">
        select count(1)
        from t_risk_incidents_history
        where  end_time between CAST(#{startTime} AS timestamp) and CAST(#{endTime} AS timestamp)
            <if test="name != null and name != ''">
                and "name" ILIKE '%' || #{name} || '%'
            </if>
            <if test="threatSeverity != null and threatSeverity.size() != null">
                and threat_severity in
                <foreach collection="threatSeverity" separator=","  open="(" close=")" item="sub">
                    #{sub}
                </foreach>
            </if>
            <if test="subCategory != null and subCategory.size() != null">
                and second_event_type_chinese in
                <foreach collection="subCategory" separator=","  open="(" close=")" item="sub">
                    #{sub}
                </foreach>
            </if>
            <if test="focusObject != null and focusObject != ''">
                and focus_object = #{focusObject,jdbcType=VARCHAR}
            </if>
            <if test="focusIp != null and focusIp != ''">
                and focus_ip ILIKE '%' || #{focusIp,jdbcType=VARCHAR} || '%'
            </if>
            <if test="alarmResult != null and alarmResult.size() != null">
                and alarm_results in
                <foreach collection="alarmResult" separator=","  open="(" close=")" item="sub">
                    #{sub}
                </foreach>
            </if>
    </select>

    <select id="getFocusIpCount" resultType="java.lang.Long">
        select
        count(1)
        from t_risk_incidents_out_going_history
        where
            event_code in (
            select event_code
            from t_risk_incidents_history
            where id = #{id} )
            <if test="ip != null and ip != ''">
                and focus_ip ILIKE '%' || #{ip} || '%'
            </if>
    </select>

    <select id="queryFocusIps" resultType="java.util.Map">
        SELECT
        focus_ip as focusIp,
        TO_CHAR(end_time, 'YYYY-MM-DD HH24:MI:SS') as endTime,
        CASE

        WHEN cat_outcome = 'OK' THEN
        1
        WHEN cat_outcome = 'Attempt' THEN
        2
        WHEN cat_outcome = 'FAIL' THEN
        3 ELSE 4
        END AS catOutcome
        FROM
        t_risk_incidents_out_going_history
        WHERE
        event_code = #{eventCode}
        AND time_part = #{timePart}
        <if test="ip != null and ip != ''">
            and focus_ip ILIKE '%' || #{ip} || '%'
        </if>
        GROUP BY focus_ip, end_time, cat_outcome
        ORDER BY
        catOutcome,
        end_time DESC
        limit #{size} offset ${offset}
    </select>

    <select id="queryFocusIpCount" resultType="java.lang.Long">
        SELECT
        count(*)
        FROM
        t_risk_incidents_out_going_history
        WHERE
        event_code = #{eventCode}
        AND time_part = #{timePart}
        <if test="ip != null and ip != ''">
            and focus_ip ILIKE '%' || #{ip} || '%'
        </if>
    </select>
    <select id="countByDate" resultType="java.lang.Integer">
        select CASE WHEN EXISTS(
                    select id from t_risk_incidents_history where DATE(create_time) = CAST(#{currentDate} AS timestamp) and DATE(update_time) = CAST(#{yesterdayDate} AS timestamp) limit 1
                  ) THEN 1 ELSE 0 END
    </select>
</mapper>
