<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.linkageHandle.mapper.ScanHistoryDetailMapper">
    
    <resultMap id="QUERY_DETAIL" type="com.dbapp.extension.xdr.linkageHandle.entity.ScanHistoryDetailVO">
        <result column="node_ip" property="nodeIp"/>
        <result column="device_ip" property="deviceIp"/>
        <result column="scan_time" property="scanTime"/>
        <result column="scan_scope" property="scanScope"/>
        <result column="scan_path" property="scanPath"/>
        <result column="scan_type" property="scanType"/>
        <result column="scan_object_num" property="scanObjectNum"/>
        <result column="scan_result_num" property="scanResultNum"/>
        <result column="scan_total_num" property="scanTotalNum"/>
        <result column="status" property="status"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="source" property="source"/>
        <result column="strategy_name" property="strategyName"/>
    </resultMap>

    <select id="countLaunchTimesByStrategyId" resultType="com.dbapp.extension.xdr.linkageHandle.entity.BaseHistoryVO">
        SELECT strategy_id, SUM(1) AS "count"
        FROM t_scan_history_detail
        WHERE strategy_id IN
        <foreach collection='strategyIds' item='strategyId' open='(' close=')' index='index' separator=','>
            #{strategyId}
        </foreach>
        GROUP BY strategy_id
    </select>

    <insert id="insertBatch">
        INSERT into t_scan_history_detail (
        strategy_id,
        node_ip,
        device_ip,
        scan_time,
        scan_scope,
        scan_path,
        scan_type,
        "status",
        "source")
        VALUES
        <foreach collection="scanHistoryDetails" item="scanHistoryDetail" index="index" close="" open="" separator=",">
            (
            #{scanHistoryDetail.strategyId,jdbcType=BIGINT},
            #{scanHistoryDetail.nodeIp},
            #{scanHistoryDetail.deviceIp},
            CAST(#{scanHistoryDetail.scanTime} AS timestamp),
            #{scanHistoryDetail.scanScope},
            #{scanHistoryDetail.scanPath},
            #{scanHistoryDetail.scanType.scanType},
            #{scanHistoryDetail.status},
            #{scanHistoryDetail.source}
            )
        </foreach>
    </insert>

    <select id="getIdsByStrategyId" resultType="java.lang.Long">
        SELECT id FROM t_scan_history_detail WHERE strategy_id = #{strategyId}
    </select>
    <select id="selectByOption" resultMap="QUERY_DETAIL">
        SELECT
            tshd.node_ip AS node_ip,
            tshd.device_ip AS device_ip,
            tshd.scan_time AS scan_time,
            tshd.scan_scope AS scan_scope,
            tshd.scan_path AS scan_path,
            tshd.scan_type AS scan_type,
            tshd.scan_object_num AS scan_object_num,
            tshd.scan_result_num AS scan_result_num,
            tshd.scan_total_num AS scan_total_num,
            tshd."status" AS "status",
            tshd.start_time AS start_time,
            tshd.end_time AS end_time,
            tshd."source" AS "source",
            COALESCE(tls.strategy_name, '已删除策略') as strategy_name
        FROM t_scan_history_detail AS tshd
        LEFT JOIN t_linked_strategy  AS tls ON tshd.strategy_id = tls.id
        WHERE 1=1
        <if test="param.strategyName !=null and param.strategyName != ''">
            AND tls.strategy_name ILIKE '%' || #{param.strategyName} || '%'
        </if>
        <if test="param.deviceIp !=null and param.deviceIp != ''">
            AND tshd.device_ip ILIKE '%' || #{param.deviceIp} || '%'
        </if>
        <if test="param.nodeIp !=null and param.nodeIp != ''">
            AND tshd.node_ip ILIKE '%' || #{param.nodeIp} || '%'
        </if>
        <if test="param.scanTypeList !=null and param.scanTypeList.size() > 0">
            AND tshd.scan_type in
            <foreach collection="param.scanTypeList" item="scanType" open="(" close=")" separator=",">
                #{scanType}
            </foreach>
        </if>
        <if test="param.sourceList !=null and param.sourceList.size() > 0">
            AND tshd."source" in
            <foreach collection="param.sourceList" item="source" open="(" close=")" separator=",">
                #{source}
            </foreach>
        </if>
        AND tshd.scan_time between CAST(#{param.startTime} AS timestamp) AND CAST(#{param.endTime} AS timestamp)
        ORDER BY scan_time DESC
    </select>

    <select id="selectScanIps" resultType="java.lang.String">
        SELECT
            DISTINCT tshd.node_ip
        FROM t_scan_history_detail AS tshd
        LEFT JOIN t_linked_strategy AS tls ON tshd.strategy_id = tls.id
        WHERE 1=1
        <if test="param.strategyName !=null and param.strategyName != ''">
            AND tls.strategy_name ILIKE '%' || #{param.strategyName} || '%'
        </if>
        <if test="param.deviceIp !=null and param.deviceIp != ''">
            AND tshd.device_ip ILIKE '%' || #{param.deviceIp} || '%'
        </if>
        <if test="param.nodeIp !=null and param.nodeIp != ''">
            AND tshd.node_ip ILIKE '%' || #{param.nodeIp} || '%'
        </if>
        <if test="param.scanTypeList !=null and param.scanTypeList.size() > 0">
            AND tshd.scan_type in
            <foreach collection="param.scanTypeList" item="scanType" open="(" close=")" separator=",">
                #{scanType}
            </foreach>
        </if>
        <if test="param.sourceList !=null and param.sourceList.size() > 0">
            AND tshd."source" in
            <foreach collection="param.sourceList" item="source" open="(" close=")" separator=",">
                #{source}
            </foreach>
        </if>
        AND tshd.scan_time between CAST(#{param.startTime} AS timestamp) AND CAST(#{param.endTime} AS timestamp)
    </select>
</mapper>
