<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.threatMonitor.mapper.TagSearchMapper">

    <update id="truncateTable">
         TRUNCATE TABLE t_tag_search_list
    </update>

    <insert id="batchInsert" useGeneratedKeys="true" >
        INSERT INTO t_tag_search_list ("tag_search","name","update_time")
        VALUES
        <foreach collection="tags"  separator="," item="tag">
           ( #{tag.tagSearch,jdbcType=VARCHAR},#{tag.name,jdbcType=VARCHAR},CAST(#{tag.updateTime} AS timestamp))
        </foreach>
    </insert>
</mapper>
