<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.xdr.mapper.TSevAgentConfigMapper">
  <resultMap id="BaseResultMap" type="com.dbapp.xdr.bean.po.TSevAgentConfig">
    <!--@mbg.generated-->
    <!--@Table t_sev_agent_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="agent_type" jdbcType="VARCHAR" property="agentType" />
    <result column="config_version" jdbcType="BIGINT" property="configVersion" />
    <result column="config_key" jdbcType="VARCHAR" property="configKey" />
    <result column="config_content" jdbcType="LONGVARCHAR" property="configContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, agent_type, config_version, config_key, config_content, create_time, update_time
  </sql>
  <select id="selectOneByAgentTypeAndConfigKey" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from t_sev_agent_config
        where agent_type=#{agentType,jdbcType=VARCHAR} and config_key=#{configKey,jdbcType=VARCHAR}
      limit 1
    </select>

    <select id="getLastVersion" resultType="long">
        select config_version
        from t_sev_agent_config
        where agent_type = #{agentType,jdbcType=VARCHAR}
        order by config_version desc limit 1
    </select>

    <select id="getLastRuleClosedVersion" resultType="long">
        select config_version from t_sev_agent_rule_closed
           where agent_code = #{agentCode,jdbcType=VARCHAR} or agent_code is null
        order by config_version desc limit 1
    </select>

    <select id="getAllClosedRuleIds" resultType="string">
        select rule_id from t_sev_agent_type_rule_closed
        where is_delete=0 and agent_type=#{agentType}
        and id in
       (select rule_closed_id from t_sev_agent_rule_closed
        where is_delete=0 and (agent_code = #{agentCode,jdbcType=VARCHAR} or agent_code is null))
    </select>
</mapper>