<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.outgoingData.mapper.AlarmOutGoingConfigMapper">

    <update id="delById" parameterType="com.dbapp.extension.xdr.outgoingData.po.AlarmOutGoingConfig">
        UPDATE t_alarm_out_going_config SET IS_DEL = true WHERE id = #{alarmOutGoingConfig.id}
    </update>


    <update id="updateSendStatus">
        UPDATE t_alarm_out_going_config
        SET last_send_time = NOW(),
        send_count = send_count + 1,
        last_send_result = #{alarmOutGoingConfig.lastSendResult},
        cause_of_failure = #{alarmOutGoingConfig.causeOfFailure}
        <if test="'成功' == alarmOutGoingConfig.lastSendResult">
            ,succeed_count = succeed_count +1
        </if>
        WHERE id = #{alarmOutGoingConfig.id}
    </update>
</mapper>
