<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.threatIntelligence.mapper.IntelligenceMapper">

    <insert id="saveOrUpdateBatch" parameterType="com.dbapp.extension.xdr.threatIntelligence.entity.IntelligenceSub" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO t_intelligence_sub (   end_time,  start_time,  update_time, ioC , sub_category , alarm_name , threat_severity , counts , tag ,
        alarm_status , event_time, asset_count)
        VALUES
        <foreach collection="subList" item="sub" separator=",">
            (#{sub.endTime},#{sub.startTime},#{sub.updateTime},#{sub.ioC,jdbcType=VARCHAR},#{sub.subCategory,jdbcType=VARCHAR},
            #{sub.alarmName,jdbcType=VARCHAR},#{sub.threatSeverity,jdbcType=INTEGER},#{sub.counts,jdbcType=BIGINT},#{sub.tag,jdbcType=VARCHAR},#{sub.alarmStatus,jdbcType=INTEGER},#{sub.eventTime},
             (select count(1) from t_intelligence_sub_asset where event_time=Date(#{sub.eventTime}) and ioC=#{sub.ioC,jdbcType=VARCHAR}))
        </foreach>
        ON DUPLICATE KEY UPDATE
        end_time = greatest(values(end_time), end_time),
        start_time = least(values(start_time), start_time),
        alarm_status  = values (alarm_status) ,
        counts = counts + values (counts) ,
        update_time = now(),
        sub_category = if(values(end_time) >= end_time,values(sub_category),sub_category),
        alarm_name = if(values(end_time) >= end_time,values(alarm_name),alarm_name),
        threat_severity = coalesce(greatest(values(threat_severity), threat_severity),values(threat_severity),threat_severity),
        asset_count = values(asset_count),
        tag = if(tag = '' or tag is null,values(tag),tag)
    </insert>

    <insert id="insertIoCAsset" parameterType="com.dbapp.extension.xdr.threatIntelligence.entity.IntelligenceSub">
        INSERT INTO t_intelligence_sub_asset
        (ioC, asset_ip, event_time, start_time, end_time, alarm_status, counts , security_zone)
        VALUES
        <foreach collection="subList" item="item" separator=",">
            (#{item.ioC}, #{item.assetIp}, #{item.eventTime}, #{item.startTime}, #{item.endTime}, #{item.alarmStatus}, #{item.counts} ,#{item.securityZone,jdbcType=VARCHAR})
        </foreach>
        ON DUPLICATE KEY UPDATE
        end_time = greatest(values(end_time), end_time),
        start_time = least(values(start_time), start_time),
        alarm_status  = values (alarm_status) ,
        counts = counts + values (counts),
        security_zone = values (security_zone)
    </insert>

    <select id="listCount" parameterType="java.util.Map" resultType="java.lang.Long">
    SELECT COUNT(1) FROM
        <if test="isCrossDay !=null and isCrossDay">
            (select 1 FROM
        </if>
        t_intelligence_sub ts
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and ts.end_time BETWEEN #{startTime} AND #{endTime}
        <if test="ioC != null and ioC != ''">
            AND ts.ioC LIKE CONCAT('%',#{ioC},'%')
        </if>
        <if test="subCategory != null and subCategory.size() > 0">
            AND ts.sub_category IN
            <foreach collection="subCategory" open="(" close=")" separator="," index="index" item="category">
                #{category}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() > 0">
            AND ts.threat_severity IN
            <foreach collection="threatSeverity" open="(" close=")" separator="," index="index" item="severity">
                #{severity}
            </foreach>
        </if>
        <if test="alarmName != null and alarmName != ''">
            AND ts.alarm_name LIKE CONCAT('%',#{alarmName},'%')
        </if>
        <if test="tag != null and tag.size() > 0">
            AND (
            <foreach collection="tag" item="t" separator="OR" index="index">
                ts.tag LIKE CONCAT('%',#{t},'%')
            </foreach>
            )
        </if>
        <if test="isCrossDay !=null and isCrossDay">
            group by ts.ioC)tt
        </if>
    </select>

    <select id="list" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        t.ioC as ioC
        <choose>
            <when test="isCrossDay !=null and isCrossDay">
                ,GROUP_CONCAT(DISTINCT t.sub_category) as subCategory
                ,GROUP_CONCAT(DISTINCT t.alarm_name) as alarmName
                ,DATE_FORMAT(max(t.end_time),'%Y-%m-%d %T') as endTime
                ,DATE_FORMAT(min(t.start_time),'%Y-%m-%d %T') as startTime
                ,sum(ta.counts) as counts
                ,count(DISTINCT ta.asset_ip ) as assetCount
                ,ifnull(GROUP_CONCAT(DISTINCT t.tag),'')tag
                ,MAX(t.alarm_status) as alarmStatus
                ,MAX(t.threat_severity) as threatSeverity
                FROM(select ioC,alarm_name,alarm_status,threat_severity,
                sub_category,start_time,end_time,tag,counts,asset_count,event_time
                from t_intelligence_sub
            </when>
            <otherwise>
                ,t.sub_category as subCategory
                ,t.alarm_name as alarmName
                ,DATE_FORMAT(t.end_time,'%Y-%m-%d %T') as endTime
                ,DATE_FORMAT(t.start_time,'%Y-%m-%d %T') as startTime
                ,t.counts as counts
                ,t.asset_count as assetCount
                ,ifnull(t.tag,'')tag
                ,t.alarm_status as alarmStatus
                ,t.threat_severity as threatSeverity
                FROM t_intelligence_sub t
            </otherwise>
        </choose>
        WHERE
        event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and end_time BETWEEN #{startTime} AND #{endTime}
        <if test="ioC != null and ioC != ''">
            AND ioC LIKE CONCAT('%',#{ioC},'%')
        </if>
        <if test="subCategory != null and subCategory.size() > 0">
            AND sub_category IN
            <foreach collection="subCategory" open="(" close=")" separator="," index="index" item="category">
                #{category}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() > 0">
            AND threat_severity IN
            <foreach collection="threatSeverity" open="(" close=")" separator="," index="index" item="severity">
                #{severity}
            </foreach>
        </if>
        <if test="tag != null and tag.size() > 0">
            AND (
            <foreach collection="tag" item="t" separator="OR" index="index">
                tag LIKE CONCAT('%',#{t},'%')
            </foreach>
            )
        </if>
        <if test="alarmName != null and alarmName != ''">
            AND alarm_name LIKE CONCAT('%',#{alarmName},'%')
        </if>
        <if test="isCrossDay !=null and isCrossDay">
            order by end_time desc)t
            inner join t_intelligence_sub_asset ta
            on t.event_time=ta.event_time
            and t.ioC = ta.ioC
            group by t.ioC
        </if>
    ORDER BY
        <choose>
            <when test="order != null and order !=''">
                <choose>
                    <when test="orderField =='tag'">
                        tag
                    </when>
                    <when test="orderField =='counts'">
                        counts
                    </when>
                    <when test="orderField =='threatSeverity'">
                        threatSeverity
                    </when>
                    <when test="orderField =='assetCount'">
                        assetCount
                    </when>
                    <otherwise>
                        endTime
                    </otherwise>
                </choose>
                <choose>
                    <when test="orderType =='DESC'">
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
               endTime desc
            </otherwise>
        </choose>
    <if test="page != null and page > 0">
        LIMIT #{page,jdbcType=INTEGER} , #{size,jdbcType=INTEGER}
    </if>
    </select>

    <update id="updateAssetList" parameterType="java.util.Map">
        UPDATE t_intelligence_sub_asset ts
        SET ts.alarm_status = #{alarmStatusWeight,jdbcType=INTEGER}
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and ts.end_time BETWEEN #{startTime} AND #{endTime}
        AND ts.ioC IN
        <foreach collection="ioC" open="(" close=")" index="index" item="ioc" separator=",">
            #{ioc}
        </foreach>
        <if test="assetIp != null and assetIp.size() >0">
            AND ts.asset_ip IN
            <foreach collection="assetIp" open="(" close=")" index="index" item="ip" separator=",">
                #{ip}
            </foreach>
        </if>
    </update>

    <update id="updateListFromAsset" parameterType="java.util.Map">
        UPDATE t_intelligence_sub ts
        SET ts.alarm_status = (select max(ta.alarm_status) from t_intelligence_sub_asset ta where ta.event_time=ts.event_time and ta.ioC=ts.ioC)
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        AND ts.ioC IN
        <foreach collection="ioC" open="(" close=")" index="index" item="ioc" separator=",">
            #{ioc}
        </foreach>
    </update>

    <update id="updateList" parameterType="java.util.Map">
        UPDATE t_intelligence_sub ts
        SET ts.alarm_status = #{alarmStatusWeight,jdbcType=INTEGER}
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and ts.end_time BETWEEN #{startTime} AND #{endTime}
        AND ts.ioC IN
        <foreach collection="ioC" open="(" close=")" index="index" item="ioc" separator=",">
            #{ioc}
        </foreach>
    </update>


    <select id="partExport" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        t.ioC as ioC
        <choose>
            <when test="isCrossDay !=null and isCrossDay">
                ,GROUP_CONCAT(DISTINCT t.sub_category) as subCategory
                ,GROUP_CONCAT(DISTINCT t.alarm_name) as alarmName
                ,DATE_FORMAT(max(t.end_time),'%Y-%m-%d %T') as endTime
                ,DATE_FORMAT(min(t.start_time),'%Y-%m-%d %T') as startTime
                ,sum(ta.counts) as counts
                ,count(DISTINCT ta.asset_ip ) as assetCount
                ,ifnull(GROUP_CONCAT(DISTINCT t.tag),'')tag
                ,MAX(t.alarm_status) as alarmStatus
                ,MAX(t.threat_severity) as threatSeverity
                FROM(select ioC,alarm_name,alarm_status,threat_severity,
                sub_category,start_time,end_time,tag,counts,asset_count,event_time
                from t_intelligence_sub
            </when>
            <otherwise>
                ,t.sub_category as subCategory
                ,t.alarm_name as alarmName
                ,DATE_FORMAT(t.end_time,'%Y-%m-%d %T') as endTime
                ,DATE_FORMAT(t.start_time,'%Y-%m-%d %T') as startTime
                ,t.counts as counts
                ,t.asset_count as assetCount
                ,ifnull(t.tag,'')tag
                ,t.alarm_status as alarmStatus
                ,t.threat_severity as threatSeverity
                FROM t_intelligence_sub t
            </otherwise>
        </choose>
        WHERE
        event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and end_time BETWEEN #{startTime} AND #{endTime}
        <if test="ioC != null and ioC != ''">
            AND ioC IN
            <foreach collection="ioC" open="(" close=")" separator="," index="index" item="cc">
                #{cc}
            </foreach>
        </if>
        <if test="subCategory != null and subCategory.size() > 0">
            AND sub_category IN
            <foreach collection="subCategory" open="(" close=")" separator="," index="index" item="category">
                #{category}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() > 0">
            AND threat_severity IN
            <foreach collection="threatSeverity" open="(" close=")" separator="," index="index" item="severity">
                #{severity}
            </foreach>
        </if>
        <if test="tag != null and tag.size() > 0">
            AND (
            <foreach collection="tag" item="t" separator="OR" index="index">
                tag LIKE CONCAT('%',#{t},'%')
            </foreach>
            )
        </if>
        <if test="alarmName != null and alarmName != ''">
            AND alarm_name LIKE CONCAT('%',#{alarmName},'%')
        </if>
        <if test="isCrossDay !=null and isCrossDay">
            order by end_time desc)t
            inner join t_intelligence_sub_asset ta
            on t.event_time=ta.event_time
            and t.ioC = ta.ioC
            group by t.ioC
        </if>
        ORDER BY
        <choose>
            <when test="order != null and order !=''">
                <choose>
                    <when test="orderField =='tag'">
                        tag
                    </when>
                    <when test="orderField =='counts'">
                        counts
                    </when>
                    <when test="orderField =='threatSeverity'">
                        threatSeverity
                    </when>
                    <when test="orderField =='assetCount'">
                        assetCount
                    </when>
                    <otherwise>
                        endTime
                    </otherwise>
                </choose>
                <choose>
                    <when test="orderType =='DESC'">
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                endTime desc
            </otherwise>
        </choose>
        LIMIT #{page,jdbcType=INTEGER} , #{size,jdbcType=INTEGER}
    </select>


    <select id="proportion" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ts.sub_category as classType,
        sum(ts.counts) as number
        FROM
        t_intelligence_sub ts
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and ts.end_time BETWEEN #{startTime} AND #{endTime}
        <if test="ioC != null and ioC != ''">
            AND ts.ioC LIKE CONCAT('%',#{ioC},'%')
        </if>
        <if test="subCategory != null and subCategory.size() > 0">
            AND ts.sub_category IN
            <foreach collection="subCategory" open="(" close=")" separator="," index="index" item="category">
                #{category}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() > 0">
            AND ts.threat_severity IN
            <foreach collection="threatSeverity" open="(" close=")" separator="," index="index" item="severity">
                #{severity}
            </foreach>
        </if>
        <if test="tag != null and tag.size() > 0">
            AND (
            <foreach collection="tag" item="t" separator="OR" index="index">
                ts.tag LIKE CONCAT('%',#{t},'%')
            </foreach>
            )
        </if>
        <if test="alarmName != null and alarmName != ''">
            AND ts.alarm_name LIKE CONCAT('%',#{alarmName},'%')
        </if>
        GROUP BY ts.sub_category
        ORDER BY counts desc
    </select>

    <select id="top5" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ts.ioC as ioC,
        sum(ts.counts) as counts
        FROM
        t_intelligence_sub ts
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        and ts.end_time BETWEEN #{startTime} AND #{endTime}
        <if test="ioC != null and ioC != ''">
            AND ts.ioC LIKE CONCAT('%',#{ioC},'%')
        </if>
        <if test="subCategory != null and subCategory.size() > 0">
            AND ts.sub_category IN
            <foreach collection="subCategory" open="(" close=")" separator="," index="index" item="category">
                #{category}
            </foreach>
        </if>
        <if test="threatSeverity != null and threatSeverity.size() > 0">
            AND ts.threat_severity IN
            <foreach collection="threatSeverity" open="(" close=")" separator="," index="index" item="severity">
                #{severity}
            </foreach>
        </if>
        <if test="tag != null and tag.size() > 0">
            AND (
            <foreach collection="tag" item="t" separator="OR" index="index">
                ts.tag LIKE CONCAT('%',#{t},'%')
            </foreach>
            )
        </if>
        <if test="alarmName != null and alarmName != ''">
            AND ts.alarm_name LIKE CONCAT('%',#{alarmName},'%')
        </if>
        group by ts.ioC
        ORDER BY counts desc
        LIMIT 5
    </select>

    <select id="subListCount" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(1) from
        <if test="isCrossDay !=null and isCrossDay">
            (select 1 FROM
        </if>
        t_intelligence_sub_asset ts
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        <if test="ioC != null and ioC != ''">
            AND ts.ioC = #{ioC}
        </if>
        <if test="isCrossDay !=null and isCrossDay">
            group by ts.asset_ip)tt
        </if>
    </select>

    <select id="subList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        ts.asset_ip as assetIp,
        ti.assetName,
        ti.assetType,
        ts.ioC as ioC
        <choose>
            <when test="isCrossDay !=null and isCrossDay">
                ,IFNULL(MAX(ts.tag),'') as tag
                ,MAX(ts.alarm_status) as alarmStatus
                ,DATE_FORMAT(max(ts.end_time),'%Y-%m-%d %T') as endTime
                ,DATE_FORMAT(min(ts.start_time),'%Y-%m-%d %T') as startTime
                ,sum(ts.counts) as counts
                ,IF(ts.security_zone != '' ,ts.security_zone,IF(f.`name` IS NULL,'',CONCAT( 'zone_name:', f.`name` ))) AS securityZone
            </when>
            <otherwise>
                ,IFNULL(ts.tag,'') as tag
                ,ts.alarm_status as alarmStatus
                ,DATE_FORMAT(ts.end_time,'%Y-%m-%d %T') as endTime
                ,DATE_FORMAT(ts.start_time,'%Y-%m-%d %T') as startTime
                ,ts.counts as counts
                ,IF(ts.security_zone != '' ,ts.security_zone,IF(f.`name` IS NULL,'',CONCAT( 'zone_name:', f.`name` ))) AS securityZone
            </otherwise>
        </choose>
        FROM
        t_intelligence_sub_asset ts
        LEFT JOIN `bigdata-web`.t_asset_info ti ON ts.asset_ip = ti.assetIp
        LEFT JOIN `bigdata-web`.t_ailpha_network_segment e ON e.relation_type = 'SECURITY_ZONE'
        AND ti.assetIpNum BETWEEN e.first_ip
        AND e.last_ip
        LEFT JOIN `bigdata-web`.t_ailpha_security_zone f ON e.relation_id = f.id
        WHERE
        ts.event_time BETWEEN Date(#{startTime}) AND Date(#{endTime})
        <if test="ioC != null and ioC != ''">
            AND ts.ioC = #{ioC}
        </if>
        <if test="assetIp != null and assetIp.size() > 0">
            AND ts.asset_ip IN
            <foreach collection="assetIp" separator=","  open="(" close=")" item="ip">
                #{ip}
            </foreach>
        </if>
        <if test="isCrossDay !=null and isCrossDay">
            group by ts.asset_ip
        </if>
        ORDER BY
        <choose>
            <when test="order != null and order !=''">
                <choose>
                    <when test="orderField =='tag'">
                        tag
                    </when>
                    <when test="orderField =='counts'">
                        counts
                    </when>
                    <otherwise>
                        endTime
                    </otherwise>
                </choose>
                <choose>
                    <when test="orderType =='DESC'">
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                endTime desc
            </otherwise>
        </choose>
        LIMIT #{page,jdbcType=INTEGER} , #{size,jdbcType=INTEGER}
    </select>

    <update id="updateTag" parameterType="com.dbapp.extension.xdr.threatIntelligence.entity.IntelligenceSub">
        UPDATE t_intelligence_sub SET tag = #{tag,jdbcType=VARCHAR}
        WHERE
            ioC = #{ioC,jdbcType=VARCHAR}
          AND
            event_time = Date(#{eventTime,jdbcType=VARCHAR})
    </update>
    <update id="updateAssetTag" parameterType="com.dbapp.extension.xdr.threatIntelligence.entity.IntelligenceSub">
        UPDATE t_intelligence_sub_asset SET tag = #{tag,jdbcType=VARCHAR}
        WHERE
        ioC = #{ioC,jdbcType=VARCHAR}
        AND
        asset_ip = #{assetIp,jdbcType=VARCHAR}
        AND
        event_time = Date(#{eventTime,jdbcType=VARCHAR})
    </update>
</mapper>
