<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.linkageHandle.mapper.LinkedStrategyMapper">

    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy" useGeneratedKeys="true">
        insert into t_linked_strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkedStrategyVO.id != null and  linkedStrategyVO.id >0 ">
                id,
            </if>
            <if test="linkedStrategyVO.strategyName != null and linkedStrategyVO.strategyName != ''">
                strategy_name,
            </if>
            <if test="linkedStrategyVO.threatType != null and linkedStrategyVO.threatType != ''">
                threat_type,
            </if>
            <if test="linkedStrategyVO.threatTypeConfig != null and linkedStrategyVO.threatTypeConfig != ''">
                threat_type_config,
            </if>
            <if test="linkedStrategyVO.status != null">
                `status`,
            </if>
            <if test="linkedStrategyVO.threatLevel != null and linkedStrategyVO.threatLevel != ''">
                threat_level,
            </if>
            <if test="linkedStrategyVO.alarmResults != null and linkedStrategyVO.alarmResults != ''">
                alarm_results,
            </if>
            <if test="linkedStrategyVO.alarmNames != null">
                alarm_names,
            </if>
            <if test="linkedStrategyVO.autoHandle != null">
                auto_handle,
            </if>
            <if test="linkedStrategyVO.source != null and linkedStrategyVO.source != ''">
                `source`,
            </if>
            create_time,
            update_time,
            <if test="linkedStrategyVO.linkDeviceConfig != null and linkedStrategyVO.linkDeviceConfig != ''">
                link_device_config,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkedStrategyVO.id != null and  linkedStrategyVO.id >0 ">
                #{linkedStrategyVO.id},
            </if>
            <if test="linkedStrategyVO.strategyName != null and linkedStrategyVO.strategyName != ''">
                #{linkedStrategyVO.strategyName},
            </if>
            <if test="linkedStrategyVO.threatType != null and linkedStrategyVO.threatType != ''">
                #{linkedStrategyVO.threatType},
            </if>
            <if test="linkedStrategyVO.threatTypeConfig != null and linkedStrategyVO.threatTypeConfig != ''">
                #{linkedStrategyVO.threatTypeConfig},
            </if>
            <if test="linkedStrategyVO.status != null">
                #{linkedStrategyVO.status},
            </if>
            <if test="linkedStrategyVO.threatLevel != null and linkedStrategyVO.threatLevel != ''">
                #{linkedStrategyVO.threatLevel},
            </if>
            <if test="linkedStrategyVO.alarmResults != null and linkedStrategyVO.alarmResults != ''">
                #{linkedStrategyVO.alarmResults},
            </if>
            <if test="linkedStrategyVO.alarmNames != null">
                #{linkedStrategyVO.alarmNames},
            </if>
            <if test="linkedStrategyVO.autoHandle != null">
                #{linkedStrategyVO.autoHandle},
            </if>
            <if test="linkedStrategyVO.source != null and linkedStrategyVO.source != ''">
                #{linkedStrategyVO.source},
            </if>
            now(),
            now(),
            <if test="linkedStrategyVO.linkDeviceConfig != null and linkedStrategyVO.linkDeviceConfig != ''">
                #{linkedStrategyVO.linkDeviceConfig},
            </if>
        </trim>
        on duplicate key
        update
        <trim prefix="" suffix="" suffixOverrides=",">
            update_time = now(),
            <if test="linkedStrategyVO.threatType != null and linkedStrategyVO.threatType != ''">
                threat_type = #{linkedStrategyVO.threatType},
            </if>
            <if test="linkedStrategyVO.threatTypeConfig != null">
                threat_type_config = #{linkedStrategyVO.threatTypeConfig},
            </if>
            <if test="linkedStrategyVO.status != null">
                `status` = #{linkedStrategyVO.status},
            </if>
            <if test="linkedStrategyVO.threatLevel != null and linkedStrategyVO.threatLevel != ''">
                threat_level = #{linkedStrategyVO.threatLevel},
            </if>
            <if test="linkedStrategyVO.alarmResults != null and linkedStrategyVO.alarmResults != ''">
                alarm_results = #{linkedStrategyVO.alarmResults},
            </if>
            <if test="linkedStrategyVO.alarmNames != null">
                alarm_names = #{linkedStrategyVO.alarmNames},
            </if>
            <if test="linkedStrategyVO.autoHandle != null">
                auto_handle = #{linkedStrategyVO.autoHandle},
            </if>
            <if test="linkedStrategyVO.source != null and linkedStrategyVO.source != ''">
                `source` = #{linkedStrategyVO.source},
            </if>
            <if test="linkedStrategyVO.linkDeviceConfig != null and linkedStrategyVO.linkDeviceConfig != ''">
                link_device_config = #{linkedStrategyVO.linkDeviceConfig},
            </if>
        </trim>
    </insert>
    <update id="enableLinkStrategy">
        update t_linked_strategy set status = #{status} where id = #{strategyId}
    </update>
    <update id="update" parameterType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy">
        update t_linked_strategy
        <set>
            <if test="linkedStrategyVO.strategyName != null and linkedStrategyVO.strategyName != ''">
                strategy_name = #{linkedStrategyVO.strategyName},
            </if>
            <if test="linkedStrategyVO.threatType != null and linkedStrategyVO.threatType != ''">
                threat_type = #{linkedStrategyVO.threatType},
            </if>
            <if test="linkedStrategyVO.threatTypeConfig != null and linkedStrategyVO.threatTypeConfig != ''">
                threat_type_config = #{linkedStrategyVO.threatTypeConfig},
            </if>
            <if test="linkedStrategyVO.status != null">
                `status` = #{linkedStrategyVO.status},
            </if>
            <if test="linkedStrategyVO.threatLevel != null and linkedStrategyVO.threatLevel != ''">
                threat_level = #{linkedStrategyVO.threatLevel},
            </if>
            <if test="linkedStrategyVO.alarmResults != null and linkedStrategyVO.alarmResults != ''">
                alarm_results = #{linkedStrategyVO.alarmResults},
            </if>
            <if test="linkedStrategyVO.alarmNames != null and linkedStrategyVO.alarmNames != ''">
                alarm_names = #{linkedStrategyVO.alarmNames},
            </if>
            <if test="linkedStrategyVO.autoHandle != null">
                auto_handle = #{linkedStrategyVO.autoHandle},
            </if>
            <if test="linkedStrategyVO.source != null and linkedStrategyVO.source != ''">
                `source` = #{linkedStrategyVO.source},
            </if>
            update_time = now(),
            <if test="linkedStrategyVO.linkDeviceConfig != null and linkedStrategyVO.linkDeviceConfig != ''">
                link_device_config = #{linkedStrategyVO.linkDeviceConfig},
            </if>
        </set>
        where id = #{linkedStrategyVO.id}
    </update>
    <delete id="deleteLinkStrategy" parameterType="java.lang.Long">
        delete from t_linked_strategy where id = #{strategyId} and source != 'template';
    </delete>

    <select id="getLinkStrategyById" parameterType="java.lang.Long"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy">
        select * from t_linked_strategy where id = #{strategyId}
    </select>

    <select id="getLinkStrategyByIds" resultType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy">
        SELECT * FROM t_linked_strategy
        <where>
            <if test="strategyIds != null and strategyIds.size() != 0">
                id IN
                <foreach collection="strategyIds" item="strategyId" index="index" separator="," open="(" close=")">
                    #{strategyId}
                </foreach>
            </if>
            <if test="strategyIds == null or strategyIds.size() == 0">
                AND FALSE
            </if>
        </where>
    </select>

    <select id="getLinkStrategyListTotal" resultType="java.lang.Long">
        select count(1)
        FROM
        (SELECT a.id ,a.strategy_name ,a.create_time,a.status ,a.source ,a.auto_handle,a.update_time ,GROUP_CONCAT(b.link_device_type,"") as link_device_type,GROUP_CONCAT(b.link_device_ip,"") as ip,GROUP_CONCAT(b.`action`,"") as `action`,b.id rel_id FROM t_linked_strategy a left join t_strategy_device_rel b on a.id = b.strategy_id
        GROUP BY  a.strategy_name) ab
        <where>
            <if test="source != null and source != ''">
                and ab.source in
                <foreach collection="source.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="linkDeviceType != null and linkDeviceType != ''">
                and ab.link_device_type REGEXP #{linkDeviceType}
            </if>
            <if test="linkDeviceIp != null and linkDeviceIp != ''">
                and ab.ip like concat('%',#{linkDeviceIp},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and ab.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and ab.create_time &lt;= #{endTime}
            </if>
            <if test="action != null and action != ''">
                <foreach collection="action.split(',')" item="item" index="index" separator="or" open="and ("  close=")">
                    FIND_IN_SET(#{item}, ab.action)
                </foreach>
            </if>
        </where>
    </select>

    <select id="getLinkStrategyList"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategyVO">
        SELECT
        ab.id strategyId,
        ab.strategy_name strategyName,
        ab.status,
        ab.source,
        ab.auto_handle autoHandle,
        ab.link_device_type linkDeviceType,
        ab.ip linkDeviceIp,
        ab.action,
        ab.create_time
        FROM
            (SELECT
            a.id,
            a.strategy_name,
            a.status,
            a.source,
            a.auto_handle,
            GROUP_CONCAT(b.link_device_type,"") as link_device_type,
            GROUP_CONCAT(b.link_device_ip,"") as ip,
            GROUP_CONCAT(b.`action`,"") as `action`,
            a.create_time
            FROM t_linked_strategy a left join t_strategy_device_rel b on a.id = b.strategy_id
            GROUP BY  a.strategy_name) ab
        <where>
            <if test="source != null and source != ''">
                and ab.source in
                <foreach collection="source.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="linkDeviceType != null and linkDeviceType != ''">
                and ab.link_device_type REGEXP #{linkDeviceType}
            </if>
            <if test="linkDeviceIp != null and linkDeviceIp != ''">
                and ab.ip like concat('%',#{linkDeviceIp},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and ab.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and ab.create_time &lt;= #{endTime}
            </if>
            <if test="action != null and action != ''">
                <foreach collection="action.split(',')" item="item" index="index" separator="or" open="and ("  close=")">
                    FIND_IN_SET(#{item}, ab.action)
                </foreach>
            </if>
        </where>
        order BY ab.create_time desc, ab.id
            <if test="limit != null and offset !=null and limit != 0 and offset >= 0">
            LIMIT #{limit} offset #{offset}
        </if>
    </select>

    <select id="getLinkStrategyCountByNameAndId" resultType="java.lang.Integer">
        select count(1) from t_linked_strategy where strategy_name = #{strategyName}
        <if test="strategyId != null">
            AND id != ${strategyId}
        </if>
    </select>

    <select id="findLinkStrategyByParam"
            resultType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy">
        select
        a.id,
        a.strategy_name strategyName,
        a.status,
        a.source,
        a.auto_handle autoHandle
         from t_linked_strategy a left join t_strategy_device_rel b on a.id = b.strategy_id
        <where>
            <if test="param.source != null and param.source != ''">
                and a.source in
                <foreach collection="param.source.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.linkDeviceType != null and param.linkDeviceType != ''">
                and b.link_device_type in
                <foreach collection="param.linkDeviceType.split(',')" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.linkDeviceIp != null and param.linkDeviceIp != ''">
                and b.link_device_ip like concat('%',#{param.linkDeviceIp},'%')
            </if>
            <if test="param.strategyIds != null and param.strategyIds.size() > 0 ">
                and a.id in
                <foreach collection="param.strategyIds" item="item" index="index" separator="," open="("  close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.startTime != null and param.startTime != ''">
                and a.create_time &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null and param.endTime != ''">
                and a.create_time &lt;= #{param.endTime}
            </if>
            <if test="param.action != null and param.action != ''">
                <foreach collection="param.action.split(',')" item="item" index="index" separator="or" open="and ("  close=")">
                    FIND_IN_SET(#{item}, b.action)
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllTemplateStrategyIds" resultType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy">
        SELECT * FROM t_linked_strategy WHERE source = 'template';
    </select>

    <update id="batchUpdateLinkDeviceConfig">
        UPDATE `t_linked_strategy`
        SET link_device_config = CASE id
        <foreach collection="linkedStrategyList" item="linkedStrategy" index="index" separator=" ">
            WHEN #{linkedStrategy.id} THEN #{linkedStrategy.linkDeviceConfig}
        </foreach>
        END
        WHERE id IN
        <foreach collection="linkedStrategyList" item="linkedStrategy" index="index" separator="," open="(" close=")">
            #{linkedStrategy.id}
        </foreach>
    </update>
    <select id="getAllStrategys" resultType="com.dbapp.extension.xdr.linkageHandle.entity.LinkedStrategy">
        SELECT * FROM t_linked_strategy;
    </select>
    <update id="updateAppId">
        UPDATE `t_linked_strategy` SET
            link_device_config = REPLACE(link_device_config, #{oldAppId}, #{appId})
        WHERE link_device_config LIKE concat('%', #{oldAppId},'%');
    </update>
</mapper>