<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.extension.xdr.threatMonitor.mapper.ScenarioTemplateMapper">

    <select id="truncate">
 		truncate table t_event_scenario_template
	</select>

	<insert id="batchInsert" parameterType="com.dbapp.extension.xdr.threatMonitor.entity.ScenarioTemplate" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_event_scenario_template (`scenario_name`,`scenario_code`,`source`,`request_url`,`condition`,`event_name`
		,`parameter`,`result`,`drill_down`,`update_time`,`executor_class_name`,`conclusion`,`log_aiql`,`alarm_aiql`)
		values
		<foreach collection="list" item="scenarioTemplates" separator=",">
			(
			#{scenarioTemplates.scenarioName,jdbcType=VARCHAR},#{scenarioTemplates.scenarioCode,jdbcType=VARCHAR},
			#{scenarioTemplates.source,jdbcType=VARCHAR},#{scenarioTemplates.requestUrl,jdbcType=VARCHAR},#{scenarioTemplates.condition,jdbcType=VARCHAR},
			#{scenarioTemplates.eventName,jdbcType=VARCHAR},#{scenarioTemplates.parameter,jdbcType=VARCHAR},#{scenarioTemplates.result,jdbcType=VARCHAR},
			#{scenarioTemplates.drillDown,jdbcType=INTEGER},#{scenarioTemplates.updateTime,jdbcType=VARCHAR},#{scenarioTemplates.executorClassName,jdbcType=VARCHAR},
			#{scenarioTemplates.conclusion,jdbcType=VARCHAR},#{scenarioTemplates.logAiql,jdbcType=VARCHAR},#{scenarioTemplates.alarmAiql,jdbcType=VARCHAR})
		</foreach>
	</insert>
</mapper>
